@charset "utf-8";
/* 한국어 */
@font-face {
	font-family:'Noto_kr';
	src:url('font/Noto_kr/NotoSansKR-DemiLight-Hestia.eot');	
	src:local(※),
		url('font/Noto_kr/NotoSansKR-DemiLight-Hestia.eot?#iefix') format('embedded-opentype'),
		url('font/Noto_kr/NotoSansKR-DemiLight-Hestia.woff') format('woff'),		
		url('font/Noto_kr/NotoSansKR-DemiLight-Hestia.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'Noto_kr';
	src:url('font/Noto_kr/NotoSansKR-Light-Hestia.eot');	
	src:local(※),
		url('font/Noto_kr/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
		url('font/Noto_kr/NotoSansKR-Light-Hestia.woff') format('woff'),		
		url('font/Noto_kr/NotoSansKR-Light-Hestia.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family:'Noto_kr';
	src:url('font/Noto_kr/NotoSansKR-Medium-Hestia.eot');	
	src:local(※),
		url('font/Noto_kr/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
		url('font/Noto_kr/NotoSansKR-Medium-Hestia.woff') format('woff'),		
		url('font/Noto_kr/NotoSansKR-Medium-Hestia.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'SinkinSans';
	src:url('font/SinkinSans-300Light.eot');	
	src:local(※),
		url('font/SinkinSans-300Light.eot?#iefix') format('embedded-opentype'),
		url('font/SinkinSans-300Light.woff') format('woff'),		
		url('font/SinkinSans-300Light.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'SinkinSans';
	src:url('font/SinkinSans-600SemiBold.eot');	
	src:local(※),
		url('font/SinkinSans-600SemiBold.eot?#iefix') format('embedded-opentype'),
		url('font/SinkinSans-600SemiBold.woff') format('woff'),		
		url('font/SinkinSans-600SemiBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

/************************************************
commnet : default
*************************************************/
/* Zeroize */
/* body, div, dl, dt, dd, li, form, input, p, blockquote, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; } */
ol, ul { margin:0; padding:0; list-style:none; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; }
table { border-collapse:collapse; border-spacing:0;table-layout:fixed; width:100%; margin-bottom:50px;}
fieldset, img, iframe { margin:0; padding:0; border:0; }
caption, th { border:0; font-weight:400;}
q:before, q:after { content:''; }
a {selector-dummy:expression(this.hideFocus=true);cursor:pointer; color:inherit;}
a, a:hover, a:visited {text-decoration:none; }
input:focus, select:focus, button:focus {outline:none;}
select {selector-dummy:expression(this.hideFocus=true)}
img {display:inline-block;border:0 none;vertical-align:top;}
/* h1, h2, h3, h4, h5, h6 {margin:0;font-size:1em; font-weight:400;}
 */address, cite, em, dfn {font-style:normal;}
blockquote, p {margin:0;}
pre {margin:0;font-size:1em;}
hr, legend, caption {display:none;}

* {
  -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* 공통 */
.pd_0 {padding:0 !important;}
.pb_0 {padding-bottom:0 !important;}
.pb_10 {padding-bottom:10px !important;}
.pb_20 {padding-bottom:20px !important;}
.pb_30 {padding-bottom:30px !important;}
.pb_35 {padding-bottom:35px !important;}
.pb_40 {padding-bottom:40px !important;}
.pb_50 {padding-bottom:50px !important;}
.pb_60 {padding-bottom:60px !important;}
.pb_70 {padding-bottom:70px !important;}
.pb_80 {padding-bottom:80px !important;}

.pl_0 {padding-left:0 !important;}
.pl_5 {padding-left:5px !important;}
.pl_10 {padding-left:10px !important;}
.pl_20 {padding-left:20px !important;}

.pt_0 {padding-top:0 !important;}
.pt_20 {padding-top:20px !important;}
.pt_30 {padding-top:30px !important;}
.pt_40 {padding-top:40px !important;}
.pt_50 {padding-top:50px !important;}
.pt_60 {padding-top:60px !important;}
.pt_75 {padding-top:75px !important;}
.pt_100 {padding-top:100px !important;}

.mt_0 {margin-top:0px !important;}
.mt_4 {margin-top:4px;}
.mt_5 {margin-top:5px !important;}
.mt_10 {margin-top:10px !important;}
.mt_15 {margin-top:15px !important;}
.mt_20 {margin-top:20px !important;}
.mt_25 {margin-top:25px !important;}
.mt_30 {margin-top:30px !important;}
.mt_35 {margin-top:35px !important;}
.mt_40 {margin-top:40px !important;}
.mt_45 {margin-top:45px !important;}
.mt_50 {margin-top:50px !important;}
.mt_55 {margin-top:55px !important;}
.mt_60 {margin-top:60px !important;}
.mt_65 {margin-top:65px !important;}
.mt_70 {margin-top:70px !important;}
.mt_75 {margin-top:75px !important;}
.mt_80 {margin-top:80px !important;}
.mt_90 {margin-top:90px !important;}
.mt_100 {margin-top:100px !important;}
.mt_130 {margin-top:130px !important;}
.mt_120 {margin-top:120px !important;}
.mt_150 {margin-top:150px !important;}
.mt_200 {margin-top:200px !important;}

.mb_0 {margin-bottom:0px !important;}
.mb_5 {margin-bottom:5px !important;}
.mb_10 {margin-bottom:10px !important;}
.mb_15 {margin-bottom:15px !important;}
.mb_20 {margin-bottom:20px !important;}
.mb_30 {margin-bottom:30px !important;}
.mb_40 {margin-bottom:40px !important;}
.mb_50 {margin-bottom:50px !important;}

.mr_0 {margin-right:0 !important;}
.mr_1 {margin-right:1px !important;}
.mr_5 {margin-right:5px !important;}
.mr_10 {margin-right:10px !important;}
.mr_15 {margin-right:15px !important;}
.mr_20 {margin-right:20px !important;}
.mr_25 {margin-right:25px !important;}
.mr_30 {margin-right:30px !important;}
.mr_35 {margin-right:35px !important;}
.mr_40 {margin-right:40px !important;}
.mr_50 {margin-right:50px !important;}
.mr_60 {margin-right:60px !important;}
.mr_100 {margin-right:100px !important;}
.mr_120 {margin-right:120px !important;}

.ml_0 {margin-left:0px !important;}
.ml_5 {margin-left:5px !important;}
.ml_10 {margin-left:10px !important;}
.ml_15 {margin-left:15px !important;}
.ml_20 {margin-left:20px !important;}
.ml_25 {margin-left:25px !important;}
.ml_30 {margin-left:30px !important;}
.ml_40 {margin-left:40px !important;}
.ml_50 {margin-left:50px !important;}
.ml_55 {margin-left:55px !important;}
.ml_60 {margin-left:60px !important;}
.ml_70 {margin-left:70px !important;}
.ml_75 {margin-left:75px !important;}
.ml_90 {margin-left:90px !important;}
.ml_100 {margin-left:100px !important;}
.ml_110 {margin-left:110px !important;}
.ml_120 {margin-left:120px !important;}

.w_0 {width:100% !important;}
.w10 {width:10% !important;}
.w20 {width:20% !important;}
.w30 {width:30% !important;}
.w40 {width:40% !important;}
.w49 {width:49% !important;}
.w50 {width:50% !important;}
.w60 {width:60% !important;}
.w70 {width:70% !important;}
.w80 {width:80% !important;}
.w85 {width:85% !important;}
.w90 {width:90% !important;}
.w95 {width:95% !important;}
.w98 {width:98% !important;}
.w_30 {width:30px !important;}
.w_50 {width:50px !important;}
.w_60 {width:60px !important;}
.w_70 {width:70px !important;}
.w_80 {width:80px !important;}
.w_90 {width:90px !important;}
.w_100 {width:100px !important;}
.w_110 {width:110px !important;}
.w_120 {width:120px !important;}
.w_130 {width:130px !important;}
.w_135 {width:135px !important;}
.w_140 {width:140px !important;}
.w_150 {width:150px !important;}
.w_160 {width:160px !important;}
.w_170 {width:170px !important;}
.w_180 {width:180px !important;}
.w_190 {width:190px !important;}
.w_200 {width:200px !important;}
.w_210 {width:210px !important;}
.w_220 {width:220px !important;}
.w_250 {width:250px !important;}
.w_300 {width:300px !important;}
.w_350 {width:350px !important;}
.w_360 {width:360px !important;}
.w_370 {width:370px !important;}
.w_380 {width:380px !important;}
.w_390 {width:390px !important;}
.w_400 {width:400px !important;}
.w_600 {width:600px !important;}
.w_900 {width:900px !important;}

.ellip {display:inline-block;width:100%;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.p_break {word-wrap:break-word;}

.wrap {float:left;width:100%;}
.c_wrap {float:left;width:100%;text-align:center;}
.r_wrap {float:left;width:100%;position:relative;}

ul.c_wrap {float:none;display:inline-block;padding-bottom:40px;}
ul.c_wrap > li {display:inline-block;}
.f_left > li,
.f_right > li {float:left;}
.f_left {float:left !important;}
.f_none {float:none !important;}
.f_right {float:right !important;}
.t_left {text-align:left !important;}
.t_left p {text-align:left !important;}
.t_right {text-align:right !important;}
.t_center,
table.t_center td,
table.t_center th {text-align:center !important;}

ul.l_100 li {width:100%; float:left;}
ul.l2,
ul.l3,
ul.l4 ,
ul.l5,
ul.l6 {float:left; width:100%;}

ul.l2 > li {float:left; width:50%;}
ul.l3 > li {float:left; width:33.3333%;}
ul.l4 > li {float:left; width:25%;}
ul.l5 > li {float:left; width:20%;}
ul.l6 > li {float:left; width:16.666%;}

@media all and (max-width:767px){
	ul.l2.mbi > li{float:none; width:100%;}
}

/*-------layout--------------------------------------------------------*/
/* html, body { padding:0; margin:0; min-width:320px; width:100%; height:100%; }
body {width:100%; font-family:"Apple Gothic", "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;font-size:14px; line-height:1.6; }
 */ 
#wrap,
#header,
header,
#container,
#content,
#footer,
footer {width:100%;position:relative;float:left;}

.id_header,
.id_footer {width:100%;position:relative;float:left;}

/* form */
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
textarea{margin:0;padding:0;border:1px solid #c4c4c4;resize: none;}
input.text{padding:3px 7px;border:1px solid  #c4c4c4;}
input.readonly,
input.disabled{background-color:#eee;}
input.check, input.radio{margin:4px 7px 0 0;padding:0;width:13px;height:13px;}
select{margin:0;border:1px solid #c4c4c4;background-color:#fff;color:#555;outline:none;}
/* input[type="image"]{vertical-align:top;} */
button::-moz-focus-inner{border:0;padding:0;}

/* link */
a {color:inherit; text-decoration:none;cursor:pointer;}
a:link {color:inherit;}

/* clear */
.clear:after{content:""; display:block; clear:both}
.clear-both{clear:both;}

.hide {display:none;}

.col_wrap:after{content:""; display:block; clear:both; height:0; visibility:hidden;}
.col_10 {width:10% !important;float:left;}
.col_20 {width:20% !important;float:left;}
.col_30 {width:30% !important;float:left;}
.col_33 {width:33.3333% !important;float:left;}
.col_40 {width:40% !important;float:left;}
.col_48 {width:48% !important;float:left;}
.col_50 {width:50% !important;float:left;}
.col_60 {width:60% !important;float:left;}
.col_70 {width:70% !important;float:left;}
.col_80 {width:80% !important;float:left;}
.col_90 {width:90% !important;float:left;}

@media all and (min-width:768px){
	.pc_hide{display:none !important;}
}
@media all and (max-width:767px){
	.m_hide{display:none !important;}
	.pc_hide{display:block;}
	table.pc_hide{display:table;}
	.col_50 {width:100% !important;}
}
.guidemenu li{float:left;}

/*-------------- guide ------------------------*/
/* guide */
#wrap.guide {padding:10px; padding-bottom:100px;}
#wrap.guide #header {height:auto; background:none;}
.guide_wrap {float:left; width:100%; margin-top:30px;}
.guide_wrap strong.tit {display:inline-block; font-weight:700; float:left; width:100%; display:inline-block; background:#eee; padding:2px 10px; margin:10px 0;}
.guide_wrap strong.tit:after {content:""; display:block; clear:both; height:0; visibility:hidden;}

/* 버튼 */
.btn {display:inline-block;
	line-height:30px; 
	height:30px;
	padding:0 25px 0 25px; 
	border-radius:5px;
	text-align:center;
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;	  
	cursor:pointer;
	font-weight:400;
	color:#fff !important;
	margin:0;
	white-space:nowrap;
	font-weight:400;
}

button.btn {line-height:1 !important;font-family:inherit; letter-spacing:inherit;}
.btn.b1 {padding:0;}

.btn:hover,
.btn:focus,
.btn.active {color:#333 !important; background:#fff}

.btn.btn1 {padding:0;}
.btn.btn00 {line-height:54px;height:54px;font-size:18px !important;} /* 사용 */
.btn.btn01 {line-height:49px;height:49px;font-size:18px !important;} /* 사용 */
.btn.btn02 {line-height:40px;height:40px;font-size:1em !important;} /* 사용 */
.btn.btn03 {line-height:36px;height:36px;font-size:1em !important;} /* 사용 */
.btn.btn04 {line-height:20px;height:20px;font-size:1em !important;}

/* 사용 */
.btn-color-w1 {background:#fff;border:1px solid #333; color:#333 !important;}		 
.btn-color-w1:hover,		  
.btn-color-w1.active{border:1px solid #444; background:#444; color:#fff !important}

.btn-color01{background:#000;border:1px solid #000;}		 
.btn-color01:hover,		  
.btn-color01.active{border:1px solid #000; background:#fff; color:#000 !important}

.btn-color02{background:#454545;border:1px solid #454545;}		 
.btn-color02:hover,
.btn-color02.active{border:1px solid #454545; color:#454545 !important}

/* 사용 */
.btn-color03{background:#666;border:1px solid #666;}		 
.btn-color03:hover,
.btn-color03.active{color:#666 !important; }

/* 사용 */
.btn-color03-1{background:#999;border:1px solid #999;}		 
.btn-color03-1:hover,
.btn-color03-1.active{color:#999 !important; }

/* 사용 */
.btn-color04{background:#d00b40;border:1px solid #d00b40; color:#fff;}
.btn-color04:hover,
.btn-color04.active{background:#fff; color:#e82f2f !important;}
.btn.non_h {background:#d00b40 !important; color:#fff !important;}

.btn-color05{background:#fff;border:1px solid #d00b40;color:#d00b40 !important;}
.btn-color05:hover,
.btn-color05.active{background:#d00b40; color:#fff !important;}		

.btn-color06{background:#454545;border:1px solid #454545; color:#fff !important;}
.btn-color06:hover,
.btn-color06.active{background:#fff;border:1px solid #454545; color:#454545 !important;}

.btn-color07{background:#333;border:1px solid #333; color:#fff !important;}
.btn-color07:hover,
.btn-color07.active{background:#31a38a;border:1px solid #31a38a; color:#fff !important;}		

.btn-color08{background:#4081cd;border:1px solid #4081cd; color:#fff !important;}
.btn-color08:hover,
.btn-color08.active{background:none;border:1px solid #4081cd; color:#4081cd !important;}

/* 사용 */
.btn.dis {background:#666 !important; border-color:#666 !important; color:#fff !important;}
.btn.disable {background:#666; border-color:#666; color:#fff !important;} 

/*탭 */
.tab_ul {position:relative;}
.tab_con {display:none;float:left; width:100%; position:absolute; left:0; top:0;}
.tab_ul > li.active .tab_con {display:block;}
.tab_ul > li .tab_btn {line-height:48px; height:48px; border:1px solid #9a9a9a; background:#fff; display:inline-block; width:100%; float:left; text-align:center; color:#9b9999; font-size:1.250em;}
.tab_ul > li.active .tab_btn {color:#fff; background:#d00b40; border-color:#d00b40;}

.tab_ul.tab_type2 > li.active .tab_btn {color:#fff; background:#444444; border-color:#444444;}
.tab_ul.tab_type2 > li .tab_btn{ font-size:1em;}

/*페이징 */
.paging {margin-top:21px;text-align:center}
.paging span {display:inline-block; width:32px;height:32px;border:1px solid #888;color:#888;font-size:1.0rem;line-height:32px;}
.paging span.active {border:1px solid #333;background:#fff;color:#333; cursor:default;}
.paging .btn-confirm{border:none}

.guide .guidemenu li{font: 3em/120%;float:left;border-right:1px solid #ccc;	padding:5px 10px;font-weight:bold;margin:20px 0;}	
.guide .guidemenu li:hover,.guide .guidemenu li.hover{background:#333;color:#fff;}

/* box */
.txtbox{background:#F8F8F8;padding:20px;overflow:hidden;}
.txtbox p {color:#666666; font-size:1em}
.txtbox_a{border:1px solid #E6E6E6;padding:20px;}
.txtbox_i{border:3px solid #F0F0F0;padding:27px 40px;}
.txtbox.bd{border:1px solid #e6e6e6;}

.txtbox3 {display:inline-block; width:100%;}
.txtbox3 .top{padding:14px 0; padding-left:20px; width:100%;position:relative; background-color:#fff; border:1px solid #c2c2c2; color:#3f4b4c; font-weight:500; font-size:18px;}
.txtbox3 .toggle{display: inline-block;width: 100%;padding: 0 23px;border: 1px solid #d9dbdb;border-top: 0;}
.txtbox3.active .top{background-color: #3f4b4c; border:1px solid #3f4b4c; color:#fff;}
.txtbox3 .bd {background:url(https://zeimage.eastarjet.com/newstar/images/bd_dott2.png) bottom repeat-x; padding:20px 0;}
.txtbox3 .bd:last-child {background:none;}
.txtbox3 .top_ul li {margin-right:17px; font-size:16px; color:#4c4c4c;}
.txtbox3 .top_ul li:last-child {margin-right:0;}
.txtbox3 .top_txt {padding-left:0; padding-bottom:0;color:#4c4c4c; font-size:16px; font-weight:500; text-align:left;}
.txtbox3 .top_txt img {margin:0 10px; margin-top:5px;}
.txtbox3 .text span {display:inline; line-height:1; font-size:15px;}
.txtbox3 .text span.bar {padding:0 5px; color:#e0e0e0;}
.txtbox3 .text span.s1 {width:100%; display:inline-block;}
.txtbox3 a.term {display:inline-block; padding-bottom:2px; border-bottom:1px solid #9fa5a5;font-weight:500; font-size:15px; line-height:1;}

	/*bullet*/	
.st_l  > li{font-weight:bold;color:#000;font-size:1.125em;margin-bottom:15px;}
.st_l  > li .bu_l li, .st_l  > li .bu{font-weight:normal;font-size:16px;}
.bu{clear:both;padding-left:10px;background:url(https://zeimage.eastarjet.com/newstar/images/bu.gif) 2px 8px no-repeat;}
.buT{clear:both;padding-left:10px;background:url(https://zeimage.eastarjet.com/newstar/images/bu.gif) 2px 8px no-repeat;margin-top:10px;}
.bu_l{clear:both;}
.bu_lT{clear:both;margin-top:10px;}
.bu_l li,.bu_lT li{clear:both;margin-bottom:4px;padding-left:10px;background:url(https://zeimage.eastarjet.com/newstar/images/bu.gif) 2px 7px no-repeat;line-height: 1.2em; text-align:left;	}
.bu.red {background:url(https://zeimage.eastarjet.com/newstar/images/bu_red.png) 2px 7px no-repeat; color:#d00b40;}
.bu_l.red li{background:url(https://zeimage.eastarjet.com/newstar/images/bu_red.png) 2px 7px no-repeat; color:#716f70;}

/*text color style*/
.red{color:#d00b40 !important;}
.green1{color:#999;}
.shadow{color:#fff;text-shadow: 0.5px 0.5px 2px #555;}

/* border-color */
.borCol_f0f0f0{border-color:#f0f0f0;} /* 연한회색 */
.borCol_656f70{border-color:#656f70;} /* 진한회색 */

/* bg-color */
.bgCol_fafafa{background-color:#fafafa;}
.bgCol_ffe3e9{background-color:#ffe3e9 !important;}
.bgCol_e9eef0{background-color:#e9eef0 !important;}

/* color */
.fCol_696969{color:#696969;}

/* backgroind none */
section .noBg{background-image:none;}


