
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}
.nexainput
{
  cursor:inherit;
}

.Static.sta_WF_box01L
{
	background : #dcf2fd;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01L .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_box01L_bottom
{
	background : #dac3f8;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01L_bottom .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_box02L
{
	background : #eef1f5;
	border : 1px solid #c7c7c7;
}
.Static.sta_WF_box02L .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_box03L
{
	background : #ffffff;
	border : 1px solid #c7c7c7;
	color : black;
}
.Static.sta_WF_box03L .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt01
{
	background : #0075ec;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #005ebd;
}
.Button.btn_WF_gantt01 .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt02
{
	background : #f7e698;
	color : #333333;
	cursor : pointer;
	border : 1px solid #dcbf39;
}
.Button.btn_WF_gantt02 .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_ganttSub
{
	background : #f8ebb2;
	color : #333333;
	cursor : pointer;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_ganttSub .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt03
{
	background : #ff3333;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #d61e1e;
}
.Button.btn_WF_gantt03 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_box01_1LD
{
	background : #dcf2fd;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_1LD .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_RH
{
	background : #a7f0b9;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_RH .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_1MC
{
	background : #ffff4c;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_1MC .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_2MC
{
	background : #fcaaf8;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_2MC .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_3MC
{
	background : #8cf852;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_3MC .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_4MC
{
	background : #abddfb;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_4MC .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01_5MC
{
	background : #f8c734;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01_5MC .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box01
{
	background : #90eda7;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box01 .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box02
{
	background : #80b6fd;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box02 .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_box03
{
	background : #9d9ffa;
	border : 1px solid #cecece;
	color : black;
	font : normal bold 10pt/normal "Arial";
}
.Static.sta_WF_box03 .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_Text
{
	color : #ffffff;
	border : 0px none;
}
.Static.sta_WF_Text .nexacontentsbox
{
	text-align : left;
}
.Div.div_WF_box01
{
	background : #0075ec;
	border : 1px solid #005ebd;
}
.Div.div_WF_box02
{
	background : #dcbf39;
	border : 1px solid #b56f07;
}
.Static.sta_TP_bg01
{
	background : #3366cc;
}
.Static.sta_TP_logo
{
	background : url('./../../../_resource_/_images_/img_TP_logo.png') no-repeat center center;
}
.Button.btn_TP_menu
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #3366cc;
	color : #ffffff;
	cursor : pointer;
	font : 14px "Arial","Nanum Gothic";
	border : 0px none;
}
.Button.btn_TP_menu .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TP_menuIcon
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #3366cc;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Static.sta_LF_bg01
{
	background : #f6f6f6;
	border : 0px none, 1px solid #c7c7c7, 0px none, 0px none;
}
.Static.sta_LF_pic
{
	background : url('./../../../_resource_/_images_/img_LF_pic01.png') no-repeat center top #f6f6f6;
	font : 14px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Static.sta_LF_pic .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Static.sta_LF_icon01
{
	background : url('./../../../_resource_/_images_/img_LF_tabIcon01.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 1px solid #c7c7c7;
}
.Static.sta_LF_icon02
{
	background : url('./../../../_resource_/_images_/img_LF_tabIcon02.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 1px solid #c7c7c7;
}
.Static.sta_LF_icon03
{
	background : url('./../../../_resource_/_images_/img_LF_tabIcon03.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 1px solid #c7c7c7;
}
.Button.btn_LF_menu
{
	background : url('./../../../_resource_/_images_/img_LF_icon_N.png') no-repeat right center #f6f6f6;
	color : #222222;
	cursor : pointer;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Button.btn_LF_menu .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_LF_menu
{
	background : #f6f6f6;
	border : 0px none;
}
.Grid.grd_LF_menu .body .row .cell
{
	color : #222222;
	font : 12px "Gulim";
	border : 0px none, 0px none, 1px solid #c7c7c7, 0px none;
}
.Static.sta_mdi_bg01
{
	background : #efefef;
	border : 1px solid #c7c7c7, 0px none;
}
.Static.sta_mdi_home
{
	background : url('./../../../_resource_/_images_/img_mdi_home.png') no-repeat center center;
	cursor : pointer;
	border : 1px solid #c7c7c7, 1px solid #c7c7c7, 1px solid #c7c7c7, 0px none;
}
.Button.btn_mdi_mdiBtn
{
	background : #efefef;
	color : #222222;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_close
{
	background : url('./../../../_resource_/_images_/btn_close_N.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabNext
{
	background : url('./../../../_resource_/_images_/btn_WF_next.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev
{
	background : url('./../../../_resource_/_images_/btn_WF_prev.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Static.sta_BT_bg01
{
	background : #dcdcdc;
	border : 1px solid #c7c7c7, 0px none, 0px none, 0px none;
}
.Static.sta_BT_alarm
{
	background : url('./../../../_resource_/_images_/img_BT_alram.png') no-repeat left center;
	font : 12px "Gulim";
}
.Static.sta_WF_title01
{
	font : bold 14px "Malgun Gothic";
}
.Static.sta_WF_title01 .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_title02
{
	background : url('./../../../_resource_/_images_/img_WF_title02.png') no-repeat left center;
	font : bold 13px "Malgun Gothic";
}
.Static.sta_WF_title02 .nexacontentsbox
{
	text-align : left;
}
.Button.btn_WF_search01
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01.png') 0px 0px;
}
.Button.btn_WF_apply01
{
	background : url('./../../../_resource_/_images_/img_WF_apply01.png') no-repeat left center #3366cc;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_apply01 .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_reset01
{
	background : url('./../../../_resource_/_images_/img_WF_reset01.png') no-repeat left center #555555;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_reset01 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_pop_title01
{
	background : #124286;
	color : #ffffff;
	font : bold 13px "Arial","Malgun Gothic";
}
.Static.sta_pop_bg01
{
	background : #ffffff;
	border : 1px solid #124286;
}
.Button.btn_pop_close
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02
{
	background : url('./../../../_resource_/_images_/btn_WF_search02.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up
{
	background : url('./../../../_resource_/_images_/btn_WF_up.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down
{
	background : url('./../../../_resource_/_images_/btn_WF_down.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand
{
	background : url('./../../../_resource_/_images_/btn_WF_expand.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold
{
	background : url('./../../../_resource_/_images_/btn_WF_fold.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Static.sta_WF_foldingTle
{
	background : #f6f9ff;
	font : normal 700 12px "Malgun Gothic";
	border : 1px solid #86aceb;
}
.Static.sta_WF_foldingTle .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_foldingBox
{
	background : #ffffff;
}
.Static.sta_WF_foldingBox .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Button.btn_WF_iconPort01
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #5182e5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01 .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort02
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #819cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02 .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #818cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03 .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #8981f2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04 .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort05
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #519ae5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05 .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #57b2dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06 .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort07
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #759ceb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07 .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #75a7eb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08 .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #9480dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09 .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
.Button.btn_WF_gantt01[status=focused]
{
	background : #0075ec;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #005ebd;
}
.Button.btn_WF_gantt01[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt01[status=mouseover]
{
	background : #0b82fc;
	color : #ffffff;
	border : 1px solid #004a96;
}
.Button.btn_WF_gantt02[status=focused]
{
	background : #f7e698;
	color : #333333;
	cursor : pointer;
	border : 1px solid #dcbf39;
}
.Button.btn_WF_gantt02[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt02[status=mouseover]
{
	background : #f8ebb2;
	color : #333333;
	border : 1px solid #f3b01f;
}
.Button.btn_WF_ganttSub[status=focused]
{
	background : #f8ebb2;
	color : #333333;
	cursor : pointer;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_ganttSub[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_ganttSub[status=mouseover]
{
	background : #f8ebb2;
	color : #333333;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_gantt03[status=focused]
{
	background : #ff3333;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #d61e1e;
}
.Button.btn_WF_gantt03[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt03[status=mouseover]
{
	background : #f64747;
	color : #ffffff;
	border : 1px solid #ab0000;
}
.Button.btn_TP_menu[status=focused]
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #3366cc;
	color : #ffffff;
	cursor : pointer;
	font : 14px "Arial","Nanum Gothic";
	border : 0px none;
}
.Button.btn_TP_menu[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TP_menu[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #1648ac;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_TP_menu[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TP_menuIcon[status=focused]
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #3366cc;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Button.btn_TP_menuIcon[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #2b57ae;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Button.btn_LF_menu[status=focused]
{
	background : url('./../../../_resource_/_images_/img_LF_icon_N.png') no-repeat right center #f6f6f6;
	color : #222222;
	cursor : pointer;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Button.btn_LF_menu[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LF_menu[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_LF_icon_S.png') no-repeat right center #3366cc;
	color : #ffffff;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Button.btn_mdi_mdiBtn[status=focused]
{
	background : #efefef;
	color : #222222;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_mdiBtn[status=mouseover]
{
	background : #f1f6ff;
	color : #222222;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_close[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_close_N.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_close[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_close_N.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabNext[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_next.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabNext[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_next.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_prev.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_prev.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_WF_search01[status=focused]
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01.png') 0px 0px;
}
.Button.btn_WF_search01[status=mouseover]
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01_O.png') 0px 0px;
}
.Button.btn_WF_apply01[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_apply01.png') no-repeat left center #3366cc;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_apply01[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_apply01[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_apply01.png') no-repeat left center #2e6be5;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_apply01[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_reset01[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_reset01.png') no-repeat left center #555555;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_reset01[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_reset01[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_reset01.png') no-repeat left center #666666;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_reset01[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_pop_close[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_pop_close[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_search02.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_search02.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_up.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_up.png') no-repeat center center #528bff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_down.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_down.png') no-repeat center center #528bff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter[status=focused]
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter[status=mouseover]
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_expand.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_expand_O.png') no-repeat center center #e9f0ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold[status=focused]
{
	background : url('./../../../_resource_/_images_/btn_WF_fold.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold[status=mouseover]
{
	background : url('./../../../_resource_/_images_/btn_WF_fold_O.png') no-repeat center center #e9f0ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_iconPort01[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #5182e5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort01[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #3f72d9;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort02[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #819cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02[status=focused] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort02[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #6887eb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02[status=mouseover] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #818cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03[status=focused] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #6c78e6;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03[status=mouseover] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #8981f2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04[status=focused] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #716ad9;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04[status=mouseover] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort05[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #519ae5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05[status=focused] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort05[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #408ad6;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05[status=mouseover] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #57b2dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06[status=focused] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #449bc4;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06[status=mouseover] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort07[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #759ceb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07[status=focused] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort07[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #5f88da;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07[status=mouseover] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #75a7eb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08[status=focused] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #6496d9;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08[status=mouseover] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09[status=focused]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #9480dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09[status=focused] .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09[status=mouseover]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #8570d3;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09[status=mouseover] .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
.Button.btn_WF_gantt01[userstatus=selected]
{
	background : #0075ec;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #005ebd;
}
.Button.btn_WF_gantt01[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt01[userstatus=pushed]
{
	background : #0068d3;
	color : #ffffff;
	border : 1px solid #005ebd;
}
.Button.btn_WF_gantt02[userstatus=selected]
{
	background : #f7e698;
	color : #333333;
	cursor : pointer;
	border : 1px solid #dcbf39;
}
.Button.btn_WF_gantt02[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt02[userstatus=pushed]
{
	background : #f9e175;
	color : #333333;
	border : 1px solid #dcbf39;
}
.Button.btn_WF_ganttSub[userstatus=selected]
{
	background : #f8ebb2;
	color : #333333;
	cursor : pointer;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_ganttSub[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_ganttSub[userstatus=pushed]
{
	background : #f8ebb2;
	color : #333333;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_gantt03[userstatus=selected]
{
	background : #ff3333;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #d61e1e;
}
.Button.btn_WF_gantt03[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt03[userstatus=pushed]
{
	background : #ea2929;
	color : #ffffff;
	border : 1px solid #d61e1e;
}
.Button.btn_TP_menu[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #3366cc;
	color : #ffffff;
	cursor : pointer;
	font : 14px "Arial","Nanum Gothic";
	border : 0px none;
}
.Button.btn_TP_menu[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TP_menu[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #1648ac;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_TP_menu[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
	text-align : center;
}
.Button.btn_TP_menuIcon[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #3366cc;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Button.btn_TP_menuIcon[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #2b57ae;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Button.btn_LF_menu[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_LF_icon_N.png') no-repeat right center #f6f6f6;
	color : #222222;
	cursor : pointer;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Button.btn_LF_menu[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LF_menu[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_LF_icon_S.png') no-repeat right center #3366cc;
	color : #ffffff;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Grid.grd_LF_menu .body .row .cell[userstatus=selected]
{
	background : #dde9f8;
	color : #3366cc;
	font : bold 12px "Gulim";
}
.Button.btn_mdi_mdiBtn[userstatus=selected]
{
	background : #efefef;
	color : #222222;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_mdiBtn[userstatus=pushed]
{
	background : #f1f6ff;
	color : #222222;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_close[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_close_N.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_close[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_close_N.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabNext[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_next.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabNext[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_next.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_prev.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_prev.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_WF_search01[userstatus=selected]
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01.png') 0px 0px;
}
.Button.btn_WF_search01[userstatus=pushed]
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01_O.png') 0px 0px;
}
.Button.btn_WF_apply01[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_apply01.png') no-repeat left center #3366cc;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_apply01[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_apply01[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_apply01.png') no-repeat left center #2b57ae;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_apply01[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	text-decoration : underline;
}
.Button.btn_WF_reset01[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_reset01.png') no-repeat left center #555555;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_reset01[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_reset01[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_reset01.png') no-repeat left center #464646;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_reset01[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	text-decoration : underline;
}
.Button.btn_pop_close[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_pop_close[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_search02.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_search02.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_up.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_up.png') no-repeat center center #528bff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_down.png') no-repeat center center #6598ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_down.png') no-repeat center center #528bff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_expand.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_expand_O.png') no-repeat center center #e9f0ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/btn_WF_fold.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/btn_WF_fold_O.png') no-repeat center center #e9f0ff;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_iconPort01[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #5182e5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01[userstatus=selected] .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort01[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #5088f9;
	cursor : pointer;
	border : 5px dashed #2c5cbe;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort02[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #819cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort02[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #7492ef;
	cursor : pointer;
	border : 5px dashed #4f70db;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #818cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #7580ea;
	cursor : pointer;
	border : 5px dashed #5d69da;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #8981f2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #7e76e8;
	cursor : pointer;
	border : 5px dashed #5f57ce;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort05[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #519ae5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05[userstatus=selected] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort05[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #4993de;
	cursor : pointer;
	border : 5px dashed #2c74be;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05[userstatus=pushed] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #57b2dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06[userstatus=selected] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #4ea8d2;
	cursor : pointer;
	border : 5px dashed #378bb3;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06[userstatus=pushed] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort07[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #759ceb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07[userstatus=selected] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort07[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #6e96e7;
	cursor : pointer;
	border : 5px dashed #4c73c3;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07[userstatus=pushed] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #75a7eb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08[userstatus=selected] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #6a9de2;
	cursor : pointer;
	border : 5px dashed #5282c2;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08[userstatus=pushed] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09[userstatus=selected]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #9480dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09[userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #8a75d6;
	cursor : pointer;
	border : 5px dashed #6f59c2;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
.Button.btn_WF_gantt01[status=disabled]
{
	background : #0075ec;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #005ebd;
}
.Button.btn_WF_gantt01[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt02[status=disabled]
{
	background : #f7e698;
	color : #333333;
	cursor : pointer;
	border : 1px solid #dcbf39;
}
.Button.btn_WF_gantt02[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_ganttSub[status=disabled]
{
	background : #f8ebb2;
	color : #333333;
	cursor : pointer;
	border : 1px dashed #ed4242;
}
.Button.btn_WF_ganttSub[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_gantt03[status=disabled]
{
	background : #ff3333;
	color : #ffffff;
	cursor : pointer;
	border : 1px solid #d61e1e;
}
.Button.btn_WF_gantt03[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TP_menu[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_TP_menuLine.png') no-repeat center right #3366cc;
	border : 0px none;
	color : #859edc;
}
.Button.btn_TP_menuIcon[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_TP_menuIcon.png') no-repeat center center #3366cc;
	cursor : pointer;
	border : 1px solid #234c9a;
}
.Button.btn_LF_menu[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_LF_icon_D.png') no-repeat right center #f6f6f6;
	color : #aaaaaa;
	cursor : pointer;
	border : 0px none, 0px none,1px solid #c7c7c7, 0px none;
}
.Button.btn_LF_menu[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_mdiBtn[status=disabled]
{
	background : #ffffff;
	color : #3366cc;
	cursor : pointer;
	font : 12px "Arial","Malgun Gothic";
	border : 1px solid #c7c7c7,1px solid #c7c7c7,1px solid #ffffff,1px solid #c7c7c7;
}
.Button.btn_mdi_mdiBtn[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_mdi_close[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_close_D.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabClose[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_mdi_tabClose_D.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_mdi_tabNext[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_next_D.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_mdi_tabPrev[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_prev_D.png') no-repeat center center;
	cursor : pointer;
	border : 0px none,1px solid #d1d1d1;
}
.Button.btn_WF_search01[status=disabled]
{
	background : transparent;
	cursor : pointer;
	border : 0px none;
	-nexa-edge : url('./../../../_resource_/_images_/btn_WF_search01_O.png') 0px 0px;
}
.Button.btn_WF_apply01[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_apply01_D.png') no-repeat left center #dddddd;
	color : #aaaaaa;
	border : 0px none;
}
.Button.btn_WF_apply01[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_reset01[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_reset01_D.png') no-repeat left center #dddddd;
	color : #aaaaaa;
	border : 0px none;
}
.Button.btn_WF_reset01[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_pop_close[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_pop_close.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_search02[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_search02_D.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_up[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_up_D.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_down[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_down_D.png') no-repeat center center #e4e4e4;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_ganttFilter[status=disabled]
{
	background : url('./../../../_resource_/_images_/grd_filter_check.png') no-repeat center center;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_expand[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_expand_D.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_fold[status=disabled]
{
	background : url('./../../../_resource_/_images_/btn_WF_fold_D.png') no-repeat center center transparent;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_iconPort01[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort01.png') no-repeat right top #5182e5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort01[status=disabled] .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort02[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort02.png') no-repeat right bottom #819cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort02[status=disabled] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort03[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort03.png') no-repeat right bottom #818cf2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort03[status=disabled] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort04[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort04.png') no-repeat right bottom #8981f2;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort04[status=disabled] .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.Button.btn_WF_iconPort05[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort05.png') no-repeat left bottom #519ae5;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort05[status=disabled] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort06[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort06.png') no-repeat left bottom #57b2dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort06[status=disabled] .nexacontentsbox
{
	text-align : right;
	vertical-align : top;
}
.Button.btn_WF_iconPort07[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort07.png') no-repeat left top #759ceb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort07[status=disabled] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort08[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort08.png') no-repeat left top #75a7eb;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort08[status=disabled] .nexacontentsbox
{
	text-align : right;
	vertical-align : bottom;
}
.Button.btn_WF_iconPort09[status=disabled]
{
	background : url('./../../../_resource_/_images_/img_WF_iconPort09.png') no-repeat right top #9480dd;
	cursor : pointer;
	border : 0px none;
	color : #ffffff;
	font : bold 16pt Malgun Gothic;
}
.Button.btn_WF_iconPort09[status=disabled] .nexacontentsbox
{
	text-align : left;
	vertical-align : bottom;
}
