.o-flight-icon {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-image: url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/images/flights-sprite.a7f66234.png);
  background-repeat: no-repeat;
  background-position: 1024px 1024px; }

.o-icon-calender {
  background-position: 0 -30px;
  width: 24px;
  height: 24px; }

.o-icon-turn {
  background-position: -142px -95px;
  width: 22px;
  height: 12px; }

.o-icon-flight {
  background-position: -200px -29px;
  width: 20px;
  height: 20px; }

.o-icon-protect, .o-icon-secure {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/images/protection.e10f3a1c.png) no-repeat;
  background-size: contain;
  vertical-align: -6px; }

.o-icon-secure {
  background: url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/images/secure.09da8db4.png) no-repeat;
  background-size: contain; }

.u-clearfix {
  *zoom: 1; }
  .u-clearfix:before, .u-clearfix:after {
    content: "";
    display: table; }
  .u-clearfix:after {
    clear: both; }

.u-clickable {
  cursor: pointer; }

.u-overflow-hidden {
  overflow: hidden; }

.u-hide {
  display: none; }

.l-tile, .l-tile_half-spacing, .l-tile_half-spacing_col-2, .l-tile_half-spacing_col-3, .l-tile_col-2, .l-tile_col-3, .l-tile_col-3-fixed, .l-tile_col-3-fixed-strip, .l-tile_col-4, .l-tile_col-4-fixed, .l-tile_col-4-fixed-strip, .l-tile_col-5, .l-tile_col-6 {
  margin: 0 -10px;
  padding: 0; }
  .l-tile__item, .l-tile_col-2 .l-tile__item, .l-tile_half-spacing_col-2 .l-tile__item, .l-tile_col-3 .l-tile__item, .l-tile_half-spacing_col-3 .l-tile__item, .l-tile_col-3-fixed .l-tile__item, .l-tile_col-3-fixed-strip .l-tile__item, .l-tile_col-4 .l-tile__item, .l-tile_col-4-fixed .l-tile__item, .l-tile_col-4-fixed-strip .l-tile__item, .l-tile_col-5 .l-tile__item, .l-tile_col-6 .l-tile__item {
    float: left;
    padding: 0 10px 18px 10px;
    box-sizing: border-box; }

.l-tile_half-spacing, .l-tile_half-spacing_col-2, .l-tile_half-spacing_col-3 {
  margin: 0 -5px; }
  .l-tile_half-spacing .l-tile__item, .l-tile_half-spacing_col-2 .l-tile__item, .l-tile_half-spacing_col-3 .l-tile__item {
    padding: 0 5px 10px 5px; }

.l-tile_col-2 .l-tile__item, .l-tile_half-spacing_col-2 .l-tile__item {
  width: 50%; }
  .l-tile_col-2 .l-tile__item:nth-child(2n+1), .l-tile_half-spacing_col-2 .l-tile__item:nth-child(2n+1) {
    clear: left; }

.l-tile_col-3 .l-tile__item, .l-tile_half-spacing_col-3 .l-tile__item {
  width: 33.33%; }
  .l-tile_col-3 .l-tile__item:nth-child(3n+1), .l-tile_half-spacing_col-3 .l-tile__item:nth-child(3n+1) {
    clear: left; }

.l-tile_col-3-fixed .l-tile__item {
  width: 400px;
  /* based on 1180px width */ }
  .l-tile_col-3-fixed .l-tile__item:nth-child(3n+1) {
    clear: left; }

@media screen and (max-width: 1220px) {
  .l-tile_col-3-fixed {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .l-tile_col-3-fixed .l-tile__item:nth-child(3n+1) {
    clear: none; }
  .l-tile_col-3-fixed .l-tile__item:nth-child(2n+1) {
    clear: left; } }

@media screen and (max-width: 850px) {
  .l-tile_col-3-fixed {
    width: 700px; }
  .l-tile_col-3-fixed .l-tile__item {
    width: 350px; } }

.l-tile_col-3-fixed-strip .l-tile__item {
  width: 400px;
  /* based on 1180px width */ }

@media screen and (max-width: 850px) {
  .l-tile_col-3-fixed-strip .l-tile__item {
    width: 350px; } }

.l-tile_col-4 .l-tile__item {
  width: 25%; }
  .l-tile_col-4 .l-tile__item:nth-child(4n+1) {
    clear: left; }

.l-tile_col-4-fixed .l-tile__item {
  width: 300px;
  /* based on 1180px width */ }
  .l-tile_col-4-fixed .l-tile__item:nth-child(4n+1) {
    clear: left; }

@media screen and (max-width: 1220px) {
  .l-tile_col-4-fixed {
    width: 900px;
    margin-left: auto;
    margin-right: auto; }
  .l-tile_col-4-fixed .l-tile__item:nth-child(4n+1) {
    clear: none; }
  .l-tile_col-4-fixed .l-tile__item:nth-child(3n+1) {
    clear: left; } }

@media screen and (max-width: 950px) {
  .l-tile_col-4-fixed {
    width: 600px; }
  .l-tile_col-4-fixed .l-tile__item:nth-child(3n+1) {
    clear: none; }
  .l-tile_col-4-fixed .l-tile__item:nth-child(2n+1) {
    clear: left; } }

.l-tile_col-4-fixed-strip .l-tile__item {
  width: 300px;
  /* based on 1180px width */ }

.l-tile_col-5 .l-tile__item {
  width: 20%; }
  .l-tile_col-5 .l-tile__item:nth-child(5n+1) {
    clear: left; }

.l-tile_col-6 .l-tile__item {
  width: 16.67%; }
  .l-tile_col-6 .l-tile__item:nth-child(6n+1) {
    clear: left; }

.l-image-text .l-image-text__image {
  float: left;
  margin-right: 20px; }

.l-image-text .l-image-text__text {
  overflow: auto; }

.l-image-text .l-image-text__image-con {
  float: left;
  margin-right: 20px; }

.l-image-text .l-image-text__text-con {
  overflow: auto; }

.l-inner {
  width: 1180px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1200px) {
    .l-inner {
      width: 100%;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px; } }

/* star and diam */
.o-icon-star-diam, .o-icon-star, .o-icon-star_1, .o-icon-star_2, .o-icon-star_3, .o-icon-star_4, .o-icon-star_5, .o-icon-diam, .o-icon-diam_1, .o-icon-diam_0-half, .o-icon-diam_2, .o-icon-diam_1-half, .o-icon-diam_3, .o-icon-diam_2-half, .o-icon-diam_4, .o-icon-diam_3-half, .o-icon-diam_5, .o-icon-diam_4-half, .o-icon-diam_6,
.o-icon-diam_5-half {
  font-size: 0;
  background-image: url(//pic.english.c-ctrip.com/common_v3/global-sprite.png);
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1; }

.o-icon-star, .o-icon-star_1, .o-icon-star_2, .o-icon-star_3, .o-icon-star_4, .o-icon-star_5 {
  width: 0;
  height: 16px;
  background-position: 0 -367px; }

.o-icon-diam, .o-icon-diam_1, .o-icon-diam_0-half, .o-icon-diam_2, .o-icon-diam_1-half, .o-icon-diam_3, .o-icon-diam_2-half, .o-icon-diam_4, .o-icon-diam_3-half, .o-icon-diam_5, .o-icon-diam_4-half, .o-icon-diam_6,
.o-icon-diam_5-half {
  width: 0;
  height: 16px;
  background-position: 0 -349px; }

.o-icon-diam_1 {
  width: 16px; }

.o-icon-diam_0-half {
  width: 16px;
  background-position-x: -80px; }

.o-icon-star_1 {
  width: 16px; }

.o-icon-diam_2 {
  width: 32px; }

.o-icon-diam_1-half {
  width: 32px;
  background-position-x: -64px; }

.o-icon-star_2 {
  width: 32px; }

.o-icon-diam_3 {
  width: 48px; }

.o-icon-diam_2-half {
  width: 48px;
  background-position-x: -48px; }

.o-icon-star_3 {
  width: 48px; }

.o-icon-diam_4 {
  width: 64px; }

.o-icon-diam_3-half {
  width: 64px;
  background-position-x: -32px; }

.o-icon-star_4 {
  width: 64px; }

.o-icon-diam_5 {
  width: 80px; }

.o-icon-diam_4-half {
  width: 80px;
  background-position-x: -16px; }

.o-icon-star_5 {
  width: 80px; }

.o-icon-diam_6,
.o-icon-diam_5-half {
  width: 96px; }

.o-block-tit, .o-block-tit_lv1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px; }
  @media screen and (max-width: 640px) {
    .o-block-tit, .o-block-tit_lv1 {
      font-size: 18px; } }

.o-block-tit_lv2 {
  font-size: 18px;
  font-weight: normal; }
  @media screen and (max-width: 640px) {
    .o-block-tit_lv2 {
      font-size: 16px; } }

.o-price {
  font-size: 14px; }
  .o-price__from {
    color: #999; }
  .o-price__currency {
    color: #f60;
    font-size: 14px; }
  .o-price__num {
    color: #f60;
    font-size: 22px;
    line-height: 1.1; }

.o-btn, .o-btn_default, .o-btn_default-2x, .o-btn_default-3x, .o-btn_default-block, .o-btn_primary, .o-btn_primary-2x, .o-btn_primary-3x, .o-btn_primary-block, .o-btn_key, .o-btn_key-2x, .o-btn_key-3x {
  min-width: 80px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 1em;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  *display: inline;
  *zoom: 1; }
  .o-btn:hover, .o-btn_default:hover, .o-btn_default-2x:hover, .o-btn_default-3x:hover, .o-btn_default-block:hover, .o-btn_primary:hover, .o-btn_primary-2x:hover, .o-btn_primary-3x:hover, .o-btn_primary-block:hover, .o-btn_key:hover, .o-btn_key-2x:hover, .o-btn_key-3x:hover {
    text-decoration: none;
    color: #fff; }

.o-btn_default, .o-btn_default-2x, .o-btn_default-3x, .o-btn_default-block {
  border: 1px solid #27e;
  color: #27e; }
  .o-btn_default:hover, .o-btn_default-2x:hover, .o-btn_default-3x:hover, .o-btn_default-block:hover {
    background: #27e; }

.o-btn_default-2x {
  min-width: 160px; }

.o-btn_default-3x {
  min-width: 240px;
  height: 44px;
  line-height: 44px;
  font-size: 16px; }

.o-btn_default-block {
  min-width: 100%; }

.o-btn_primary, .o-btn_primary-2x, .o-btn_primary-3x, .o-btn_primary-block, .o-btn_key, .o-btn_key-2x, .o-btn_key-3x {
  border: 0 none;
  background: #27e;
  color: #fff; }
  .o-btn_primary:hover, .o-btn_primary-2x:hover, .o-btn_primary-3x:hover, .o-btn_primary-block:hover, .o-btn_key:hover, .o-btn_key-2x:hover, .o-btn_key-3x:hover {
    background: #1a5dba; }

.o-btn_primary-2x {
  min-width: 160px; }

.o-btn_primary-3x {
  min-width: 240px;
  height: 44px;
  line-height: 44px;
  font-size: 16px; }

.o-btn_primary-block {
  min-width: 100%; }

.o-btn_key, .o-btn_key-2x, .o-btn_key-3x {
  background: #ffa900; }
  .o-btn_key:hover, .o-btn_key-2x:hover, .o-btn_key-3x:hover {
    background: #f08800; }

.o-btn_key-2x {
  min-width: 160px; }

.o-btn_key-3x {
  min-width: 240px;
  height: 44px;
  line-height: 44px;
  font-size: 16px; }

.o-checkbox {
  cursor: pointer; }
  .o-checkbox__box {
    border: 1px solid #839BAC;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    margin-right: 4px;
    line-height: 12px; }
  .o-checkbox__hide-box {
    display: none; }
  .o-checkbox__label {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block; }
  .o-checkbox .o-icon-check-tick {
    display: none; }

.is-checked .o-checkbox__box {
  border: 1px solid #27e;
  background-color: #27e; }

.is-checked .o-checkbox__label {
  color: #27e; }

.is-checked .o-icon-check-tick {
  display: inline-block; }

.is-disabled {
  cursor: default; }
  .is-disabled .o-checkbox__box {
    border: 1px solid #B1BFC9;
    background-color: transparent; }
  .is-disabled .o-checkbox__label {
    color: #BBC6D2; }

.is-disabled.is-checked {
  cursor: default; }
  .is-disabled.is-checked .o-checkbox__box {
    border: 1px solid #ccc;
    background-color: #ccc; }
  .is-disabled.is-checked .o-checkbox__label {
    color: #BBC6D2; }

.o-radiobox {
  cursor: pointer; }
  .o-radiobox__box {
    border: 1px solid #839BAC;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 14px;
    margin-right: 4px;
    line-height: 12px; }
  .o-radiobox__hide-box {
    display: none; }
  .o-radiobox__label {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block; }

.is-checked .o-radiobox__box {
  border: 4px solid #27e;
  width: 6px;
  height: 6px;
  background-color: #f2f2f2; }

.is-checked .o-radiobox__label {
  color: #27e; }

.is-disabled {
  cursor: default; }
  .is-disabled .o-radiobox__box {
    border: 1px solid #B1BFC9;
    background-color: transparent; }
  .is-disabled .o-radiobox__label {
    color: #BBC6D2; }

.is-disabled.is-checked {
  cursor: default; }
  .is-disabled.is-checked .o-radiobox__box {
    border: 4px solid #c4c4c4;
    background-color: #f2f2f2; }

.o-icon-check-tick {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-image: url(//pic.english.c-ctrip.com/common_v3/global-sprite.png?20170331);
  background-repeat: no-repeat;
  background-position: 1024px 1024px;
  *display: inline;
  *zoom: 1; }

.o-icon-check-tick {
  background-position: 0 -408px;
  width: 11px;
  height: 11px; }

.o-input {
  font-size: 14px;
  border: 1px solid #B4C4D6;
  box-sizing: border-box;
  line-height: 36px;
  height: 36px;
  padding: 0 10px; }
  .o-input:hover {
    border-color: #27e; }
  .o-input:focus {
    outline: none; }
  .o-input.error {
    border-bottom: 2px solid #e74c3c; }

.o-overlay {
  position: absolute;
  z-index: 1000;
  border: 1px solid #27e;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  max-width: 800px; }
  .o-overlay__padding {
    padding: 10px 12px; }

.o-loading-circle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loadingCircle;
  animation-timing-function: ease; }

@keyframes loadingCircle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.o-search-no-result {
  display: none;
  overflow-x: hidden;
  min-width: 198px;
  *min-width: auto;
  *width: expression(this.offsetWidth < 300 ? 'auto' : '300px');
  position: absolute;
  *left: 0;
  *top: 59px;
  border: 1px solid #b4c4d6;
  height: 36px;
  line-height: 36px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: #84a8e5;
  text-indent: 10px; }
  .o-search-no-result.active {
    display: block; }

@font-face {
  font-family: 'fi-flight';
  src: url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/font/fi_flight.7af8904a.eot);
  /* IE9*/
  src: url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/font/fi_flight.7af8904a.eot) format("embedded-opentype"), url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/font/fi_flight.9867e00b.woff) format("woff"), url(//pic.english.c-ctrip.com/picaresenglish/ibu/ibuintlflight/dist/CSS/font/fi_flight.f7a968b7.ttf) format("truetype"), url(dist/CSS/font/fi_flight.svg#iconfont) format("svg");
  /* iOS 4.1- */ }

.fi_flight, .fi-star,
.fi-calendar-input,
.fi-arrow-down,
.fi-remove,
.fi-arrow-left,
.fi-arrow-right,
.fi-check-piece-o,
.fi-warn-circle,
.fi-info-circle,
.fi-lightning,
.fi-gift,
.fi-clock,
.fi-bell,
.fi-image,
.fi-minus,
.fi-plus,
.fi-calender,
.fi-close,
.fi-round-trip,
.fi-clock-countdown,
.fi-ticket-refund,
.fi-check-circle,
.fi-smile-circle,
.fi-info-o,
.fi-ticketing,
.fi-adult,
.fi-child,
.fi-infant,
.fi-arrow-two-way,
.fi-arrow-one-way,
.fi-calendar-o,
.fi-check-shield,
.fi-check,
.fi-double-arrow-right,
.fi-edit,
.fi-info-shield,
.fi-minus-circle-o,
.fi-plus-circle-o,
.fi-plus-bold,
.fi-question-circle-o,
.fi-user,
.fi-double-arrow-up,
.fi-double-arrow-down,
.fi-minus-bold,
.fi-star-integral {
  font-family: 'fi-flight', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fi-star:before {
  content: "\e25b"; }

.fi-calendar-input:before {
  content: "\e2db"; }

.fi-arrow-down:before {
  content: "\e32c"; }

.fi-remove:before {
  content: "\e289"; }

.fi-arrow-left:before {
  content: "\e32a"; }

.fi-arrow-right:before {
  content: "\e28a"; }

.fi-check-piece-o:before {
  content: "\e284"; }

.fi-warn-circle:before {
  content: "\e25c"; }

.fi-info-circle:before {
  content: "\e25f"; }

.fi-lightning:before {
  content: "\e2da"; }

.fi-gift:before {
  content: "\e326"; }

.fi-clock:before {
  content: "\e325"; }

.fi-bell:before {
  content: "\e32d"; }

.fi-image:before {
  content: "\e2d0"; }

.fi-minus:before {
  content: "\e340"; }

.fi-plus:before {
  content: "\e332"; }

.fi-calender:before {
  content: "\e288"; }

.fi-close:before {
  content: "\e289"; }

.fi-round-trip:before {
  content: "\e345"; }

.fi-clock-countdown:before {
  content: "\e39d"; }

.fi-ticket-refund:before {
  content: "\e39e"; }

.fi-check-circle:before {
  content: "\e255"; }

.fi-smile-circle:before {
  content: "\e3d6"; }

.fi-info-o:before {
  content: "\e3ef"; }

.fi-ticketing:before {
  content: "\e39b"; }

.fi-adult:before {
  content: "\e487"; }

.fi-child:before {
  content: "\e488"; }

.fi-infant:before {
  content: "\e489"; }

.fi-arrow-two-way:before {
  content: "\e4f0"; }

.fi-arrow-one-way:before {
  content: "\e4f1"; }

.fi-calendar-o:before {
  content: "\e4f2"; }

.fi-check-shield:before {
  content: "\e4f3"; }

.fi-check:before {
  content: "\e4f4"; }

.fi-double-arrow-right:before {
  content: "\e4f5"; }

.fi-edit:before {
  content: "\e4f6"; }

.fi-info-shield:before {
  content: "\e4f7"; }

.fi-minus-circle-o:before {
  content: "\e4f8"; }

.fi-plus-circle-o:before {
  content: "\e4f9"; }

.fi-plus-bold:before {
  content: "\e4fa"; }

.fi-question-circle-o:before {
  content: "\e4fb"; }

.fi-user:before {
  content: "\e4fc"; }

.fi-double-arrow-up:before {
  content: "\e4fd"; }

.fi-double-arrow-down:before {
  content: "\e4fe"; }

.fi-minus-bold:before {
  content: "\e4ff"; }

.fi-star-integral:before {
  content: "\e500"; }

body {
  background: #EAF0F3;
  font-family: BlinkMacSystemFont,-apple-system, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #234; }

a:hover {
  color: #27e; }

.o-input[type="text"] {
  color: #234; }

input::-webkit-input-placeholder {
  color: #B4C4D6; }

input:-moz-placeholder {
  color: #B4C4D6; }

input::-moz-placeholder {
  color: #B4C4D6; }

input:-ms-input-placeholder {
  color: #B4C4D6; }
