<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reservation">

	<!-- customer pagenation -->
	<select id="count" parameterType="java.util.Map" resultType="int">
		select count(*) from reserve where member_id = #{member_id} and reserve_state = #{reserve_state}
	</select>

	<select id="list" parameterType="dto.ReservePageDTO" resultType="dto.ReserveDTO">
		select b.* from
		(select rownum as rm, a.* from(
		select * from reserve
		where member_id = #{member_id} and reserve_state = #{reserve_state}
		
		<![CDATA[
		order by reserve_code desc)a)b
		 where b.rm >= #{startRow} and b.rm <= #{endRow}
		]]>
	</select>
	
	<!-- adminpage pagenation -->
	<select id="admincount" parameterType="java.util.Map" resultType="int">
		select count(*) from reserve where reserve_state = #{reserve_state}
	</select>
	
	<select id="adminlist" parameterType="dto.ReservePageDTO" resultType="dto.ReserveDTO">
		select b.* from
		(select rownum as rm, a.* from(
		select * from reserve
		where reserve_state = #{reserve_state}
		
		<![CDATA[
		order by reserve_code desc)a)b
		 where b.rm >= #{startRow} and b.rm <= #{endRow}
		]]>
	</select>
	
	<select id="fullList" parameterType="String" resultType="dto.ReserveDTO">
		select b.* from
		(select rownum as rm, a.* from(
		select * from reserve
		where reserve_state = #{reserve_state}
		order by reserve_code desc)a)b
	</select>
	
	<!-- reserve_code로 사용자 아이디 추출 -->
	<select id="extract_member_id" parameterType="int" resultType="String">
		select member_id from reserve where reserve_code = #{reserve_code}
	</select>

	<!-- 탑승자에 대한 세부 정보 -->
	<select id="detail" parameterType="int" resultType="dto.ReserveDetailDTO">
		select * from reserve_detail where reserve_detail_code = #{reserve_code}
	</select>
	
	<!-- 지역 및 날씨 항공사 및 좌석에 대한 세부 정보 -->
	<select id="detail2" parameterType="int" resultType="dto.ReserveDetail2DTO">
		select * from reserve_detail2 where reserve_detail2_code = #{reserve_code}
	</select>
	 
	<!-- reserve table에 대한 세부 정보 -->
	<select id="detail3" parameterType="int" resultType="dto.ReserveDTO">
		select * from reserve where reserve_code = #{reserve_code}
	</select>
	
	<insert id="insert_reserve" parameterType="dto.ReserveDTO">
		insert into reserve values(reserve_num_seq.nextval, #{ticket_type}, #{member_id}, #{reserve_depart_day}, #{reserve_journey}, #{reserve_state}, #{reserve_total_price}, #{reserve_paymethod}, sysdate)
	</insert>

	<select id="extract_reserve_code" resultType="int">
		select MAX(reserve_code) from reserve
	</select>
	
	<insert id="insert_reserve_detail" parameterType="dto.ReserveDetailDTO">
		insert into reserve_detail values(#{reserve_detail_code},#{passname},#{passgender},#{passbirth},#{passnumber},#{passcountry})
	</insert>
	
	<insert id="insert_reserve_detail2" parameterType="dto.ReserveDetail2DTO">
		insert into reserve_detail2 values(#{reserve_detail2_code}, #{detail_depart_region}, #{detail_arrive_region}, #{detail_depart_day}, #{detail_arrive_day}, #{detail_airline_name}, #{detail_airplane_model}, #{detail_flight_name}, #{detail_seat_grade}, #{detail_seat_total}, #{detail_stopover_type})
	</insert>
	
	<update id="update" parameterType="int">
		update reserve set reserve_state='취소완료' where reserve_code = #{reserve_code}	
	</update>
</mapper>
