
        .nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}
.nexainput
{
  cursor:inherit;
}

.Form
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 0px none;
}
.VScrollBarControl .trackbar
{
	background : #dddddd;
	border : 1px solid #c8c8c8;
}
.Button
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
.FileDownload
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
.ButtonControl
{
	background : transparent;
	border : 0px none;
}
.Button.btn_WF_search
{
	background : URL('./images/btn_WF_Grdexpand.png') center no-repeat #ffffff;
	cursor : pointer;
}
.Button.btn_WF_search .nexacontentsbox
{
	text-align : center;
}
.FileUpload .fileuploaditem .fileuploaditembutton
{
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
.HScrollBarControl
{
	background : linear-gradient(to top,#ffffff,#f7f7f7);
	border : 1px solid #b1b1b1;
}
.VScrollBarControl
{
	background : linear-gradient(to left,#ffffff,#f7f7f7);
	border : 1px solid #b1b1b1;
}
.VScrollIndicatorControl
{
	background : #f2f2f2;
}
.HScrollIndicatorControl
{
	background : #f2f2f2;
}
.VScrollIndicatorControl .trackbar
{
	background : #cccccc;
	border : 2px solid transparent;
}
.Button.btn_WF_basic08
{
	background : #fddbcd;
	color : #555555;
	cursor : pointer;
	border : 1px solid #fcaf8f;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic08 .nexacontentsbox
{
	text-align : center;
}
.HScrollIndicatorControl .trackbar
{
	background : #cccccc;
	border : 2px solid transparent;
}
.StatusBarControl
{
	background : #e7e7e7;
}
.Button.btn_WF_basic07
{
	background : #fbebc9;
	color : #555555;
	cursor : pointer;
	border : 1px solid #d7af5a;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic07 .nexacontentsbox
{
	text-align : center;
}
.StatusBarControl .progressbar
{
	background : #eaeaea;
	border : 1px solid #afaeae, 1px solid #d2d0d0, 1px solid #d2d0d0, 1px solid #d2d0d0;
}
.StatusBarControl .progressbar .progressbaritem
{
	background : #4ca0e2;
}
.Calendar
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.CalendarControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.StatusBarControl .resizegrip .nexacontentsbox
{
	vertical-align : bottom;
}
.DatePickerControl .body .dayitem
{
	color : #333333;
}
.TitleBarControl
{
	font : bold 12px Gulim;
	color : #ffffff;
	background : #003284;
}
.DatePickerControl .body .weekitem
{
	color : #ffffff;
}
.Edit.edit_WF_edit01
{
	background : #ffffff;
	color : #555555;
}
.Edit.edit_WF_edit01 .nexainput
{
	text-align : center;
}
.Edit.edit_WF_edit01 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_label04
{
	background : #f9f9f9;
	color : #c55401;
	border : 1px solid #d5d5d5;
}
.Static.sta_WF_label03
{
	color : #e0670f;
	border : 1px solid #d5d5d5;
	background : #fffdfc;
}
.DatePickerControl .body .weekband
{
	background : #125dae;
}
.DatePickerControl .body
{
	border : 1px solid #125dae, 1px solid #697888, 1px solid #697888, 1px solid #697888;
}
.Button.btn_MF_prev
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_prev .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_next
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_next .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_allX
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_allX .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.DatePickerControl .head .monthspin .spinedit
{
	font : bold 14px Tahoma;
	color : #ffffff;
	background : #0042a0;
}
.DatePickerControl .head .yearspin .spinedit
{
	font : bold 14px Tahoma;
	color : #ffffff;
	background : #0042a0;
}
.Static.sta_BF_bg
{
	background : #f6f6f6;
	color : #555555;
	border : 1px solid #c7c7c7, 0px none, 0px none;
}
.DatePickerControl .head .monthstatic
{
	font : bold 14px Tahoma;
	color : #ffffff;
}
.DatePickerControl .head .yearstatic
{
	font : bold 14px Tahoma;
	color : #ffffff;
}
.Button.btn_MF_H
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_H .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Static.sta_MF_bg
{
	background : #f6f6f6;
	color : #555555;
	border : 1px solid #c7c7c7, 0px none;
}
.Button.btn_MF_tab
{
	background : #ffffff;
	color : #555555;
	border : 0px none,1px solid #c7c7c7,1px solid #c7c7c7,1px solid #c7c7c7;
	cursor : pointer;
}
.Button.btn_MF_tab .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_V
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_V .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Combo
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.ComboControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.Button.btn_MF_tab_selected
{
	background : #ed6e11;
	color : #ffffff;
	border : 0px none,1px solid #ed6e11,1px solid #ed6e11;
	cursor : pointer;
}
.Button.btn_MF_tab_selected .nexacontentsbox
{
	text-align : left;
}
.DatePickerControl .head
{
	background : #125dae;
}
.DatePickerControl
{
	background : #ffffff;
}
.Button.btn_MF_tabClose
{
	background : URL('./images/btn_MF_tab.png') no-repeat right center;
	border : 0px none;
}
.Static.sta_TF_bg01
{
	background : #555555;
}
.Static.sta_TF_logoArea
{
	background : #ffffff;
}
.Static.sta_TF_logo
{
	background : url('./images/img_TF_logo.png') no-repeat left center #ffffff;
}
.Button.btn_MF_detach
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_detach .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Tab .tabbuttonitemTab
{
	color : #333333;
	background : #ffffff;
	border : 1px solid #c7c7c7;
}
.Tab .tabpageTab
{
	border : 1px solid #cfcfcf, 0px none, 0px none, 0px none;
}
.Button.btn_MF_min
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_min .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.ListBoxControl.popupCombocombolist.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b1b1b1;
}
.ListBoxControl.popupComboControlcombolist.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b1b1b1;
}
.Edit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
.FileUpload .fileuploaditem .fileuploaditemedit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
.EditControl
{
	background : transparent;
	border : 0px none;
	padding : 1px 9px 0px 9px;
}
.WebBrowserControl
{
	border : 1px solid #d5d5d5;
}
.WebBrowser
{
	border : 1px solid #d5d5d5;
}
.Button.btn_TF_menu
{
	background : #555555;
	color : #ffffff;
	cursor : pointer;
	font : 14px/normal "Malgun Gothic","Verdana","Arial";
	border : 0px none;
}
.Button.btn_TF_menu .nexacontentsbox
{
	text-align : center;
}
.TextAreaControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 9px 9px 9px 9px;
}
.Button.btn_MF_max
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_max .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.TextArea
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 9px 9px 9px 9px;
}
.Grid
{
	background : #ffffff;
	border : 2px solid #ed6e11, 1px solid #b7b1b2, 1px solid #b7b1b2, 1px solid #b7b1b2;
}
.Grid .head .row .cell
{
	font : bold 12px Gulim;
	color : #2f2f2f;
	background : linear-gradient(to top, #eff0f0, #f9fafa);
	border : 1px solid #cacaca;
}
.Grid .head .row .cell .nexacontentsbox
{
	text-align : center;
}
.Static.sta_TF_lineBar
{
	background : url('./images/img_TP_lineBar.png') no-repeat center #efefef;
}
.Button.btn_MF_home
{
	border : 1px solid #b4b4b4;
	background : #e1e1e1;
	border-radius : 0px;
}
.Button.btn_MF_home .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Grid .body .row .cell
{
	color : #666666;
	border : 1px solid #dbdee2;
}
.Static.sta_WF_alignCenter .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_LineDot
{
	border : 0px none, 1px dotted #c0c0c0, 1px dotted #c0c0c0, 0px none;
}
.Grid .body .row .cell .subcell
{
	color : #666666;
	border : 1px solid #dbdee2;
}
.Static.sta_WF_Helptxt2
{
	color : #617a9a;
}
.Static.sta_WF_Helptxt2 .nexacontentsbox
{
	-nexa-word-wrap : char;
	vertical-align : top;
	text-align : left;
}
.Static.sta_WF_Helptxt
{
	color : #f36634;
}
.Static.sta_WF_Helptxt .nexacontentsbox
{
	-nexa-word-wrap : char;
	vertical-align : top;
	text-align : left;
}
.Button.btn_TF_mdiPrev
{
	background : url('./images/btn_TF_mdiPrev.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Grid .summary
{
	border : 1px solid #c8c1c2, 0px none, 0px none, 0px none;
}
.Grid .summary .row .cell
{
	font : bold 12px Gulim;
	color : #333333;
	background : #fdfbe5;
	border : 1px solid #c8c1c2;
}
.Grid .summary .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid .hscrollbar
{
	border : 1px solid #b1b1b1, 0px none, 0px none, 0px none;
}
.Grid .vscrollbar
{
	border : 0px none, 0px none, 0px none, 1px solid #b1b1b1;
}
.GridCellControl .cellbutton
{
	font : 12px Gulim;
	color : #555555;
	background : linear-gradient(to top,#eaeaea,#ffffff);
	border : 1px solid #c2c2c2;
}
.Button.btn_TF_mdiNext
{
	background : url('./images/btn_TF_mdiNext.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_login
{
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	font : bold 22px "Malgun Gothic","Verdana","Arial";
	background : #00a6db;
}
.Button.btn_WF_login .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_loginTitle
{
	background : url('./images/img_WF_loginIcon.png') no-repeat left center #ffffff;
	font : 30px "Arial";
	color : #ed6e11;
}
.Static.sta_WF_loginTitle .nexacontentsbox
{
	text-align : center;
}
.GridCellControl .cellcalendar
{
	font : 12px Gulim;
}
.GridCellControl .cellcheckbox
{
	font : 12px Gulim;
}
.GridCellControl .cellcombo
{
	font : 12px Gulim;
}
.ListBoxControl.popupGridCellControlcellcombocombolist.dummy.dummy
{
	font : 12px Gulim;
	color : #555555;
}
.Spin .spinedit
{
	padding : 0px 3px 0px 3px;
}
.Spin .spinedit .nexainput
{
	text-align : right;
}
.Spin .spinedit .nexacontentsbox
{
	text-align : right;
}
.GridCellControl .celledit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
.Spin
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.Grid.grd_LF_menu
{
	background : #ffffff;
	border : 1px solid #ed6e11,1px solid #ed6e11,0px none,0px none;
}
.Static.sta_WF_loginLogo
{
	background : url('./images/img_WF_loginLogo.png') no-repeat center;
}
.GridCellControl .cellmaskedit
{
	font : 12px Gulim;
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
.Sketch
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.Grid.grd_LF_menu .body .row .cell
{
	border : 1px solid #f2f2f2,0px none;
	color : #333333;
}
.Static.sta_WF_loginBox
{
	border : 0px none;
	background : #ffffff;
}
.GridCellControl .cellprogressbar
{
	font : 12px Gulim;
}
.GridCellControl .celltextarea
{
	font : 12px Gulim;
}
.GridCellControl .celltreeitem .treeitemtext
{
	font : 12px Gulim;
	color : #666666;
}
.Static.sta_WF_loginBg
{
	background : #ffffff;
}
.Static.sta_WF_mainTitle
{
	font : 40px "Malgun Gothic","Verdana","Arial";
	color : #00a6db;
}
.Static.sta_WF_mainTitle .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_mainLogo
{
	background : url('./images/img_WF_mainLogo.png') no-repeat center;
}
.Static.sta_WF_mainBottom
{
	background : url('./images/img_WF_mainIcon.png') no-repeat center #717171;
}
.GridCellControl .celltreeline
{
	border : 1px dotted #909090;
}
.GroupBox .groupboxcontents
{
	background : #ffffff;
	border : 1px solid #d6d4d5;
}
.Button.btn_WF_btnDrop
{
	background : url('./images/btn_WF_Spindown_P.png') no-repeat center #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.GroupBox .groupboxtitle
{
	background : #ffffff;
}
.ProgressBarControl .progressbartext
{
	color : #ffffff;
}
.ProgressBarControl .progressbartext .nexacontentsbox
{
	text-align : center;
}
.ImageViewer
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.ProgressBar .progressbartext
{
	color : #ffffff;
}
.ProgressBar .progressbartext .nexacontentsbox
{
	text-align : center;
}
.ImageViewer .imagetext .nexacontentsbox
{
	text-align : center;
}
.Button.btn_LF_menuOpen
{
	background : url('./images/btn_LF_menuOpen.png') no-repeat center #ed6e11;
	border : 0px none;
	cursor : pointer;
	border-radius : 0px 4px 4px 0px;
}
.ListBox
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.ListBoxControl
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
}
.Grid.grd_LF_menu .body .row .cell .celltreeitem .treeitemtext
{
	color : #333333;
	font : bold 12px "Malgun Gothic","Verdana","Arial";
}
.Static.sta_LF_menuTitle
{
	background : #ed6e11;
	color : #ffffff;
	font : bold 14px "Malgun Gothic","Verdana","Arial";
}
.Static.sta_LF_menuTitle .nexacontentsbox
{
	text-align : center;
}
.ProgressBarControl .progressbaritem
{
	background : #125dae;
}
.ProgressBar .progressbaritem
{
	background : #125dae;
}
.ProgressBarControl
{
	background : linear-gradient(to top, #f0f0f0, #e7e7e7);
	border : 1px solid #aeaeae, 1px solid #d2d0d1, 1px solid #d2d0d1, 1px solid #d2d0d1;
}
.ProgressBar
{
	background : linear-gradient(to top, #f0f0f0, #e7e7e7);
	border : 1px solid #aeaeae, 1px solid #d2d0d1, 1px solid #d2d0d1, 1px solid #d2d0d1;
}
.ListBox .listboxitem
{
	color : #555555;
}
.ListBoxControl .listboxitem
{
	color : #555555;
}
.Button.btn_LF_menuClose
{
	background : url('./images/btn_LF_menuClose.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.PopupMenu.PM_TF_popmenu
{
	border : 2px solid #ed6e11,1px solid #b5b5b5,1px solid #b5b5b5;
}
.Static.sta_TF_menuicon
{
	background : url('./images/img_TF_menuicon.png') no-repeat center;
}
.Static.sta_WF_title02
{
	background : url('./images/img_WF_title02.png') no-repeat left center;
	font : bold 13px "Malgun Gothic";
}
.Static.sta_WF_title02 .nexacontentsbox
{
	text-align : left;
}
.MaskEdit
{
	background : #ffffff;
	border : 1px solid #d5d5d5;
	padding : 1px 9px 0px 9px;
}
.MaskEditControl
{
	background : transparent;
	border : 0px none;
	padding : 1px 9px 0px 9px;
}
.Static.sta_LF_imgBar
{
	background : url('./images/img_LF_imgBar.png') no-repeat center #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic01
{
	background : #617a9a;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_basic01 .nexacontentsbox
{
	text-align : center;
}
.PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext
{
	color : #aaaaaa;
}
.PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.Static.sta_WF_box02
{
	background : #f8ebed;
	border : 1px solid #f1ebe0;
}
.Menu
{
	background : linear-gradient(to top, #1059a8, #125dae);
}
.Static.sta_WF_box01
{
	background : #f8f8f8;
	border : 1px solid #c7c7c7;
}
.Static.sta_WF_box01 .nexacontentsbox
{
	text-align : left;
}
.PopupMenu .popupmenuitem .popupmenuitemhotkeytext
{
	color : #aaaaaa;
}
.PopupMenu .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.Static.sta_WF_label02
{
	font : bold 12px "Gulim","Verdana","Arial";
	color : #b15765;
	background : url("./images/sta_WF_Dot.png") no-repeat left center;
}
.Static.sta_WF_label01
{
	font : bold 12px "Gulim","Verdana","Arial";
}
.Static.sta_WF_label01 .nexacontentsbox
{
	text-align : left;
}
.PopupMenuControl .popupmenuitem .popupmenuitemcheckbox
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.Menu .menuitem
{
	font : bold 13px Gulim;
	color : #ffffff;
}
.Button.btn_WF_down
{
	background : url('./images/img_WF_down2.png') no-repeat center #ffffff;
	color : #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_down .nexacontentsbox
{
	vertical-align : middle;
	text-align : center;
}
.PopupMenu .popupmenuitem .popupmenuitemcheckbox
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.Button.btn_WF_basic02
{
	background : #686868;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic02 .nexacontentsbox
{
	vertical-align : middle;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy
{
	font : 12px Gulim;
	color : #555555;
	background : #0753a5;
	border : 1px solid #034389;
}
.Button.btn_WF_basic03
{
	background : #ffffff;
	color : #333333;
	border : 1px solid #9b9b9b;
	cursor : pointer;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic03 .nexacontentsbox
{
	vertical-align : middle;
}
.PopupMenuControl .popupmenuitem
{
	color : #555555;
}
.PopupMenu .popupmenuitem
{
	color : #555555;
}
.Button.btn_WF_basic06
{
	background : #ffffff;
	color : #555555;
	cursor : pointer;
	border : 1px solid #98aed9;
}
.Button.btn_WF_basic06 .nexacontentsbox
{
	text-align : center;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem
{
	color : #c3e0ff;
	border : 0px none, 0px none, 1px solid #2065ae, 0px none;
}
.Button.btn_WF_basic04
{
	background : #e8f1fd;
	color : #222222;
	cursor : pointer;
	border : 1px solid #617a9a;
}
.Button.btn_WF_basic04 .nexacontentsbox
{
	text-align : center;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext
{
	color : #c3e0ff;
}
.PopupMenuControl
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b5b5b5;
}
.Button.btn_WF_basic05
{
	border : 1px solid #21367e;
	background : #2c4898;
	box-shadow : 1px 1px 1px #e9e9e9;
	color : #ffffff;
	font : bold 12px "Gulim";
	cursor : pointer;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext
{
	color : #6d95cc;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext .nexacontentsbox
{
	text-align : right;
}
.PopupMenu
{
	font : 12px Gulim;
	color : #555555;
	background : #ffffff;
	border : 1px solid #b5b5b5;
}
.PluginControl
{
	border : 1px solid #d5d5d5;
}
.Plugin
{
	border : 1px solid #d5d5d5;
}
.HScrollBarControl .trackbar
{
	background : #dddddd;
	border : 1px solid #c8c8c8;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=mouseover]
{
	color : #ffffff;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=mouseover]
{
	color : #ffffff;
}
.Button.btn_WF_basic05[status=mouseover]
{
	background : linear-gradient(to bottom,#2c4898,#213a80);
}
.Button.btn_WF_basic04[status=focused]
{
	background : #e8f1fd;
	color : #222222;
	cursor : pointer;
	border : 1px solid #617a9a;
}
.Button.btn_WF_basic04[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic05[status=focused]
{
	border : 1px dotted #777777;
	background : linear-gradient(to bottom,#2c4898,#213a80);
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=focused]
{
	color : #ffffff;
	background : transparent;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=mouseover]
{
	color : #ffffff;
	background : transparent;
}
.Button.btn_WF_basic03[status=mouseover]
{
	background : #ffffff;
	border : 1px solid #21367e;
}
.Button.btn_WF_basic03[status=focused]
{
	background : #ffffff;
	color : #333333;
	border : 1px solid #9b9b9b;
	cursor : pointer;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic03[status=focused] .nexacontentsbox
{
	vertical-align : middle;
}
.Button.btn_WF_basic06[status=focused]
{
	background : #ffffff;
	color : #555555;
	cursor : pointer;
	border : 1px solid #98aed9;
}
.Button.btn_WF_basic06[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic02[status=focused]
{
	background : #686868;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic02[status=focused] .nexacontentsbox
{
	vertical-align : middle;
}
.PopupMenu .popupmenuitem[status=mouseover]
{
	background : #e7e9ed;
}
.PopupMenu .popupmenuitem[status=focused]
{
	background : #e7e9ed;
}
.PopupMenuControl .popupmenuitem[status=mouseover]
{
	background : #e7e9ed;
}
.PopupMenuControl .popupmenuitem[status=focused]
{
	background : #e7e9ed;
}
.Button.btn_WF_basic02[status=mouseover]
{
	background : #686868;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic02[status=mouseover] .nexacontentsbox
{
	vertical-align : middle;
}
.Button.btn_WF_basic06[status=mouseover]
{
	background : #ffffff;
	color : #555555;
	border : 1px solid #5c78ae;
}
.Button.btn_WF_basic06[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Menu .menuitem[status=mouseover]
{
	background : URL('./images/img_WF_Menu_O.png') no-repeat center top;
}
.Button.btn_WF_down[status=focused]
{
	background : url('./images/img_WF_down2.png') no-repeat center #ffffff;
	color : #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_down[status=focused] .nexacontentsbox
{
	vertical-align : middle;
	text-align : center;
}
.PopupMenu .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.PopupMenuControl .popupmenuitem .popupmenuitemcheckbox[status=mouseover]
{
	background : URL('./images/chk_WF_Box_F.png') no-repeat left center;
}
.Button.btn_WF_basic01[status=mouseover]
{
	background : #52729a;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic01[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic01[status=focused]
{
	background : #617a9a;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_basic01[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_down[status=mouseover]
{
	background : url('./images/img_WF_down2.png') no-repeat center #ffffff;
	color : #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_down[status=mouseover] .nexacontentsbox
{
	vertical-align : middle;
	text-align : center;
}
.MaskEdit[status=readonly]
{
	background : #efefef;
}
.MaskEdit[status=focused]
{
	border : 1px solid #5a86cd;
}
.MaskEdit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.ListBoxControl .listboxitem[status=mouseover]
{
	background : #e7e9ed;
}
.ListBox .listboxitem[status=mouseover]
{
	background : #e7e9ed;
}
.Button.btn_LF_menuClose[status=focused]
{
	background : url('./images/btn_LF_menuClose.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_LF_menuClose[status=mouseover]
{
	background : url('./images/btn_LF_menuClose.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.ListBoxControl[status=focused]
{
	border : 1px solid #5a86cd;
}
.ListBoxControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.ListBox[status=focused]
{
	border : 1px solid #5a86cd;
}
.ListBox[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Button.btn_LF_menuOpen[status=focused]
{
	background : url('./images/btn_LF_menuOpen.png') no-repeat center #ed6e11;
	border : 0px none;
	cursor : pointer;
	border-radius : 0px 4px 4px 0px;
}
.Button.btn_LF_menuOpen[status=mouseover]
{
	background : url('./images/btn_LF_menuOpen.png') no-repeat center #ed6e11;
	border : 0px none;
	cursor : pointer;
	border-radius : 0px 4px 4px 0px;
}
.Button.btn_WF_btnDrop[status=focused]
{
	background : url('./images/btn_WF_Spindown_P.png') no-repeat center #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_btnDrop[status=mouseover]
{
	background : url('./images/btn_WF_Spindown_P.png') no-repeat center #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Grid.grd_LF_menu .body .row .cell[status=focused]
{
	border : 1px solid #f2f2f2,0px none;
	color : #333333;
}
.GridCellControl .cellmaskedit[status=focused]
{
	border : 1px solid #5a86cd;
}
.GridCellControl .cellmaskedit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.GridCellControl .celledit[status=focused]
{
	border : 1px solid #5a86cd;
}
.GridCellControl .celledit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Spin[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Spin[status=focused]
{
	border : 1px solid #5a86cd;
}
.Spin[status=readonly]
{
	background : #efefef;
}
.Button.btn_TF_mdiNext[status=mouseover]
{
	background : url('./images/btn_TF_mdiNext.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.ListBoxControl.popupGridCellControlcellcombocombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #e8e9ed;
}
.Button.btn_TF_mdiNext[status=focused]
{
	background : url('./images/btn_TF_mdiNext.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_login[status=focused]
{
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	font : bold 22px "Malgun Gothic","Verdana","Arial";
	background : #00a6db;
}
.Button.btn_WF_login[status=focused] .nexacontentsbox
{
	text-align : center;
}
.GridCellControl .cellbutton[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.Button.btn_TF_mdiPrev[status=mouseover]
{
	background : url('./images/btn_TF_mdiPrev.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.GridCellControl .cellbutton[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.Button.btn_TF_mdiPrev[status=focused]
{
	background : url('./images/btn_TF_mdiPrev.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_login[status=mouseover]
{
	background : #01a1d4;
	border : 0px none;
}
.Grid .body .row .cell .subcell[status=mouseover]
{
	background : #f6f6f6;
}
.Grid .body .row .cell[status=mouseover]
{
	background : #f6f6f6;
}
.Button.btn_MF_home[status=focused]
{
	border : 1px solid #b4b4b4;
	background : #e1e1e1;
	border-radius : 0px;
}
.Button.btn_MF_home[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_TF_menu[status=mouseover]
{
	background : #555555;
	color : #cdcdcd;
	border : 0px none;
}
.Button.btn_MF_home[status=mouseover]
{
	border : 1px solid #b4b4b4;
	background : #e1e1e1;
	border-radius : 0px;
}
.Button.btn_MF_home[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Edit[status=readonly]
{
	background : #efefef;
}
.TextArea[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.TextArea[status=focused]
{
	border : 1px solid #5a86cd;
}
.TextAreaControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.TextAreaControl[status=focused]
{
	border : 1px solid #5a86cd;
}
.TextArea[status=readonly]
{
	background : #efefef;
	border : 1px solid #d5d5d5;
}
.TextAreaControl[status=readonly]
{
	background : #efefef;
	border : 1px solid #d5d5d5;
}
.Button.btn_TF_menu[status=focused]
{
	background : #555555;
	color : #ffffff;
	cursor : pointer;
	font : 14px/normal "Malgun Gothic","Verdana","Arial";
	border : 0px none;
}
.Button.btn_TF_menu[status=focused] .nexacontentsbox
{
	text-align : center;
}
.FileUpload .fileuploaditem .fileuploaditemedit[status=focused]
{
	border : 1px solid #5a86cd;
}
.FileUpload .fileuploaditem .fileuploaditemedit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Edit[status=focused]
{
	border : 1px solid #5a86cd;
}
.Edit[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Button.btn_MF_max[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_max[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_max[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_max[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_min[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_min[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_min[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_min[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Tab .tabbuttonitemTab[status=focused]
{
	color : #333333;
	background : #ffffff;
	border : 1px solid #c7c7c7;
}
.Tab .tabbuttonitemTab[status=mouseover]
{
	border : 1px solid #c7c7c7;
	background : #fef7f5;
}
.Button.btn_MF_tabClose[status=mouseover]
{
	background : URL('./images/btn_MF_tab.png') no-repeat right center;
	border : 0px none;
}
.Button.btn_MF_tabClose[status=focused]
{
	background : URL('./images/btn_MF_tab.png') no-repeat right center;
	border : 0px none;
}
.Button.btn_MF_detach[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_detach[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_detach[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_detach[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_tab_selected[status=mouseover]
{
	background : #ed6e11;
	color : #ffffff;
	border : 0px none,1px solid #ed6e11,1px solid #ed6e11;
	cursor : pointer;
}
.Button.btn_MF_tab_selected[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.ComboControl[status=readonly]
{
	background : #efefef;
}
.Button.btn_MF_tab_selected[status=focused]
{
	background : #ed6e11;
	color : #ffffff;
	border : 0px none,1px solid #ed6e11,1px solid #ed6e11;
	cursor : pointer;
}
.Button.btn_MF_tab_selected[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Combo[status=readonly]
{
	background : #efefef;
}
.ComboControl[status=focused]
{
	border : 1px solid #5a86cd;
}
.ComboControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Combo[status=focused]
{
	border : 1px solid #5a86cd;
}
.Button.btn_MF_tab[status=mouseover]
{
	background : #ffffff;
	color : #555555;
	border : 0px none,1px solid #c7c7c7,1px solid #c7c7c7,1px solid #c7c7c7;
	cursor : pointer;
}
.Button.btn_MF_tab[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_tab[status=focused]
{
	background : #ffffff;
	color : #555555;
	border : 0px none,1px solid #c7c7c7,1px solid #c7c7c7,1px solid #c7c7c7;
	cursor : pointer;
}
.Button.btn_MF_tab[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Combo[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Button.btn_MF_V[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_V[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_V[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_V[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_H[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_H[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_H[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_H[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_allX[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_allX[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_allX[status=mouseover]
{
	border : 0px none;
	background : #b4b4b4;
}
.Button.btn_MF_allX[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_next[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_next[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_next[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_next[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_prev[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_prev[status=focused] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Button.btn_MF_prev[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_prev[status=mouseover] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.CalendarControl[status=readonly]
{
	background : #efefef;
}
.Calendar[status=readonly]
{
	background : #efefef;
}
.CalendarControl[status=focused]
{
	border : 1px solid #5a86cd;
}
.Calendar[status=focused]
{
	border : 1px solid #5a86cd;
}
.CalendarControl[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.DatePickerControl .body .dayitem[status=mouseover]
{
	color : #ffffff;
	background : #8da3c7;
}
.DatePickerControl .body .dayitem[status=focused]
{
	color : #ffffff;
	background : #125dae;
}
.Calendar[status=mouseover]
{
	border : 1px solid #5a86cd;
}
.Edit.edit_WF_edit01[status=focused]
{
	background : #ffffff;
	color : #555555;
}
.Edit.edit_WF_edit01[status=focused] .nexainput
{
	text-align : center;
}
.Edit.edit_WF_edit01[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic07[status=focused]
{
	background : #fbebc9;
	color : #555555;
	cursor : pointer;
	border : 1px solid #d7af5a;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic07[status=focused] .nexacontentsbox
{
	text-align : center;
}
.HScrollIndicatorControl .trackbar[status=mouseover]
{
	background : #999999;
}
.VScrollIndicatorControl .trackbar[status=mouseover]
{
	background : #999999;
}
.Button.btn_WF_basic07[status=mouseover]
{
	background : #fde4af;
	color : #555555;
	border : 1px solid #d7af5a;
}
.Button.btn_WF_basic07[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic08[status=focused]
{
	background : #fddbcd;
	color : #555555;
	cursor : pointer;
	border : 1px solid #fcaf8f;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic08[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic08[status=mouseover]
{
	background : #fecdba;
	color : #555555;
	border : 1px solid #fcaf8f;
}
.Button.btn_WF_basic08[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.FileUpload .fileuploaditem .fileuploaditembutton[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.FileUpload .fileuploaditem .fileuploaditembutton[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.FileDownload[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.FileDownload[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.HScrollBarControl .trackbar[status=mouseover]
{
	background : #bbbbbb;
	border : 1px solid #a8a8a8;
}
.Button[status=focused]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.VScrollBarControl .trackbar[status=mouseover]
{
	background : #bbbbbb;
	border : 1px solid #a8a8a8;
}
.Button[status=mouseover]
{
	background : linear-gradient(to top,#e7e7e7,#fefefe);
	border : 1px solid #a0a0a0;
}
.HScrollBarControl .trackbar[status=focused]
{
	background : #999999;
	border : 1px solid #888888;
}
.Button.btn_WF_search[status=focused]
{
	background : URL('./images/btn_WF_Grdexpand.png') center no-repeat #ffffff;
	cursor : pointer;
}
.Button.btn_WF_search[status=focused] .nexacontentsbox
{
	text-align : center;
}
.VScrollBarControl .trackbar[status=focused]
{
	background : #999999;
	border : 1px solid #888888;
}
.Button.btn_WF_search[status=mouseover]
{
	background : URL('./images/btn_WF_Grdexpand.png') center no-repeat #ffffff;
	cursor : pointer;
}
.Button.btn_WF_search[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic04[status=mouseover]
{
	background : #d4e3f9;
	color : #222222;
	border : 1px solid #6092e7;
}
.Button.btn_WF_basic04[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.VScrollBarControl .trackbar[userstatus=pushed]
{
	background : #999999;
	border : 1px solid #888888;
}
.Form[userstatus=contents]
{
	background : transparent;
}
.VScrollBarControl .trackbar[userstatus=selected]
{
	background : #999999;
	border : 1px solid #888888;
}
.HScrollBarControl .trackbar[userstatus=pushed]
{
	background : #999999;
	border : 1px solid #888888;
}
.Button.btn_WF_search[userstatus=selected]
{
	background : URL('./images/btn_WF_Grdexpand.png') center no-repeat #ffffff;
	cursor : pointer;
}
.Button.btn_WF_search[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.HScrollBarControl .trackbar[userstatus=selected]
{
	background : #999999;
	border : 1px solid #888888;
}
.Button.btn_WF_basic08[userstatus=pushed]
{
	border : 1px solid #fca07a;
}
.Button[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.Button.btn_WF_basic08[userstatus=selected]
{
	background : #fddbcd;
	color : #555555;
	cursor : pointer;
	border : 1px solid #fcaf8f;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic08[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.FileDownload[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.Button.btn_WF_basic07[userstatus=pushed]
{
	border : 1px solid #c59a3f;
}
.FileUpload .fileuploaditem .fileuploaditembutton[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.DatePickerControl .body .dayitem[userstatus=trailingday]
{
	color : #989898;
}
.VScrollIndicatorControl .trackbar[userstatus=pushed]
{
	background : #606060;
}
.HScrollIndicatorControl .trackbar[userstatus=pushed]
{
	background : #606060;
}
.Button.btn_WF_basic07[userstatus=selected]
{
	background : #fbebc9;
	color : #555555;
	cursor : pointer;
	border : 1px solid #d7af5a;
	font : bold 12px "Dotum","Arial";
}
.Button.btn_WF_basic07[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.DatePickerControl .body .dayitem[userstatus=sunday]
{
	color : #ff4c5e;
}
.FileUpload .fileuploaditem .fileuploaditembutton[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.DatePickerControl .body .dayitem[userstatus=saturday]
{
	color : #269bee;
}
.DatePickerControl .body .dayitem[userstatus=today]
{
	color : #ffffff;
	background : #e7595c;
}
.DatePickerControl .body .dayitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
.DatePickerControl .body .weekitem[userstatus=sunday]
{
	color : #ff7986;
}
.DatePickerControl .body .weekitem[userstatus=saturday]
{
	color : #48afff;
}
.Button.btn_MF_home[userstatus=pushed]
{
	border : 1px solid #b4b4b4;
	background : #e1e1e1;
	border-radius : 0px;
}
.Button.btn_MF_home[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.Grid .body .row .cell[userstatus=selected]
{
	background : #f2f9ff;
}
.Grid .body .row .cell .subcell[userstatus=selected]
{
	background : #f2f9ff;
}
.Button.btn_WF_login[userstatus=pushed]
{
	background : #0198c8;
	border : 0px none;
}
.Grid .body .row .cell .subcell[userstatus=blinked]
{
	background : #125dae;
	color : #ffffff;
}
.Button.btn_MF_tab[userstatus=pushed]
{
	background : #ffffff;
	color : #555555;
	border : 0px none,1px solid #c7c7c7,1px solid #c7c7c7,1px solid #c7c7c7;
	cursor : pointer;
}
.Button.btn_MF_tab[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_tab[userstatus=selected]
{
	background : #ffffff;
	color : #555555;
	border : 1px solid #c7c7c7;
	cursor : pointer;
}
.Button.btn_MF_tab[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_WF_login[userstatus=selected]
{
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	font : bold 22px "Malgun Gothic","Verdana","Arial";
	background : #00a6db;
}
.Button.btn_WF_login[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.GridCellControl .cellbutton[userstatus=pushed]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.Button.btn_MF_tab_selected[userstatus=pushed]
{
	background : #ed6e11;
	color : #ffffff;
	border : 0px none,1px solid #ed6e11,1px solid #ed6e11;
	cursor : pointer;
}
.Button.btn_MF_tab_selected[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.GridCellControl .cellbutton[userstatus=selected]
{
	background : linear-gradient(to top,#fefefe,#e9e9e9);
}
.Button.btn_MF_tab_selected[userstatus=selected]
{
	background : #ed6e11;
	color : #ffffff;
	border : 0px none,1px solid #ed6e11,1px solid #ed6e11;
	cursor : pointer;
}
.Button.btn_MF_tab_selected[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_tabClose[userstatus=pushed]
{
	background : URL('./images/btn_MF_tab.png') no-repeat right center;
	border : 0px none;
}
.Tab .tabbuttonitemTab[userstatus=selected]
{
	color : #ffffff;
	background : #ed6e11;
	border : 1px solid #ed6e11;
}
.Button.btn_WF_btnDrop[userstatus=selected]
{
	background : url('./images/btn_WF_Spindown_P.png') no-repeat center #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_btnDrop[userstatus=pushed]
{
	background : url('./images/btn_WF_Spindown_P.png') no-repeat center #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_TF_menu[userstatus=pushed]
{
	background : #555555;
	color : #ffffff;
	cursor : pointer;
	font : 14px/normal "Malgun Gothic","Verdana","Arial";
	border : 0px none;
}
.Button.btn_TF_menu[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_TF_menu[userstatus=selected]
{
	background : #555555;
	color : #ffffff;
	cursor : pointer;
	font : 14px/normal "Malgun Gothic","Verdana","Arial";
	border : 0px none;
}
.Button.btn_TF_menu[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell[userstatus=blinked]
{
	background : #125dae;
	color : #ffffff;
}
.Button.btn_LF_menuOpen[userstatus=selected]
{
	background : url('./images/btn_LF_menuOpen.png') no-repeat center #ed6e11;
	border : 0px none;
	cursor : pointer;
	border-radius : 0px 4px 4px 0px;
}
.Button.btn_LF_menuOpen[userstatus=pushed]
{
	background : url('./images/btn_LF_menuOpen.png') no-repeat center #ed6e11;
	border : 0px none;
	cursor : pointer;
	border-radius : 0px 4px 4px 0px;
}
.Button.btn_LF_menuClose[userstatus=selected]
{
	background : url('./images/btn_LF_menuClose.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_TF_mdiPrev[userstatus=pushed]
{
	background : url('./images/btn_TF_mdiPrev.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_TF_mdiPrev[userstatus=selected]
{
	background : url('./images/btn_TF_mdiPrev.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_LF_menuClose[userstatus=pushed]
{
	background : url('./images/btn_LF_menuClose.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.ListBox .listboxitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
.Button.btn_TF_mdiNext[userstatus=pushed]
{
	background : url('./images/btn_TF_mdiNext.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_TF_mdiNext[userstatus=selected]
{
	background : url('./images/btn_TF_mdiNext.png') no-repeat center;
	border : 0px none;
	cursor : pointer;
}
.ListBoxControl .listboxitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
.Button.btn_WF_down[userstatus=pushed]
{
	background : url('./images/img_WF_down2.png') no-repeat center #f5f5f5;
	border : 1px solid #d5d5d5;
}
.Button.btn_WF_down[userstatus=selected]
{
	background : url('./images/img_WF_down2.png') no-repeat center #ffffff;
	color : #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_down[userstatus=selected] .nexacontentsbox
{
	vertical-align : middle;
	text-align : center;
}
.Grid.grd_LF_menu .body .row .cell[userstatus=selected]
{
	color : #394a70;
	background : #fdeee4;
}
.Grid.grd_LF_menu .body .row .cell.oddcell[userstatus=selected]
{
	background : #fdeee4;
}
.Button.btn_WF_basic06[userstatus=pushed]
{
	border : 1px solid #a7b0c0;
}
.Menu .menuitem[userstatus=selected]
{
	background : URL('./images/img_WF_Menu_O.png') no-repeat center top;
}
.Button.btn_WF_basic06[userstatus=selected]
{
	background : #ffffff;
	color : #555555;
	cursor : pointer;
	border : 1px solid #98aed9;
}
.Button.btn_WF_basic06[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : transparent;
}
.Button.btn_WF_basic01[userstatus=selected]
{
	background : #617a9a;
	color : #ffffff;
	cursor : pointer;
	border : 0px none;
	cursor : pointer;
}
.Button.btn_WF_basic01[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic05[userstatus=pushed]
{
	background : linear-gradient(to bottom,#041e65,#213571);
}
.Button.btn_WF_basic01[userstatus=pushed]
{
	background : #44638a;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic01[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_basic04[userstatus=pushed]
{
	background : #c4d8f5;
	color : #222222;
	border : 1px solid #a4adc0;
}
.Button.btn_WF_basic04[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_WF_search[userstatus=pushed]
{
	background : URL('./images/btn_WF_Grdexpand.png') center no-repeat #ffffff;
	cursor : pointer;
}
.Button.btn_WF_search[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.PopupMenuControl .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
.Button.btn_WF_basic02[userstatus=selected]
{
	background : #686868;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic02[userstatus=selected] .nexacontentsbox
{
	vertical-align : middle;
}
.Button.btn_WF_basic04[userstatus=selected]
{
	background : #e8f1fd;
	color : #222222;
	cursor : pointer;
	border : 1px solid #617a9a;
}
.Button.btn_WF_basic04[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.PopupMenu .popupmenuitem[userstatus=selected]
{
	color : #ffffff;
	background : #125dae;
}
.Button.btn_WF_basic03[userstatus=pushed]
{
	background : #fafbff;
}
.Button.btn_WF_basic03[userstatus=selected]
{
	background : #ffffff;
	border : 1px solid #21367e;
}
.Button.btn_WF_basic03[status=disabled]
{
	background : #efefef;
	color : #999999;
}
.Button.btn_WF_basic02[status=disabled]
{
	background : #686868;
	color : #ffffff;
	border : 0px none;
}
.Button.btn_WF_basic02[status=disabled] .nexacontentsbox
{
	vertical-align : middle;
}
.PopupMenu .popupmenuitem[status=disabled]
{
	color : #999999;
}
.PopupMenuControl .popupmenuitem[status=disabled]
{
	color : #999999;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemtext[status=disabled]
{
	color : #2665af;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem[status=disabled]
{
	color : #2665af;
}
.PopupMenu .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : URL('./images/chk_WF_Box_D.png') no-repeat left center;
}
.PopupMenuControl .popupmenuitem .popupmenuitemcheckbox[status=disabled]
{
	background : URL('./images/chk_WF_Box_D.png') no-repeat left center;
}
.PopupMenu .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
.PopupMenuControl .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
.ProgressBar .progressbaritem[status=disabled]
{
	background : #b5b5b5;
}
.Menu .menuitem[status=disabled]
{
	color : #c7d4e2;
}
.ProgressBarControl .progressbaritem[status=disabled]
{
	background : #b5b5b5;
}
.Button.btn_WF_down[status=disabled]
{
	background : url('./images/img_WF_down2.png') no-repeat center #ffffff;
	color : #ffffff;
	border : 1px solid #d5d5d5;
	cursor : pointer;
}
.Button.btn_WF_down[status=disabled] .nexacontentsbox
{
	vertical-align : middle;
	text-align : center;
}
.Sketch[status=disabled]
{
	background : #efefef;
}
.Menu[status=disabled]
{
	background : #94a9bf;
}
.MaskEdit[status=disabled]
{
	color : #999999;
	background : #f2f2f2;
}
.ListBoxControl .listboxitem[status=disabled]
{
	opacity : 0.50;
}
.ListBox .listboxitem[status=disabled]
{
	opacity : 0.50;
}
.Spin[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.Spin .spinedit[status=disabled]
{
	padding : 1px 2px 0px 9px;
}
.ListBoxControl[status=disabled]
{
	background : #efefef;
}
.ListBox[status=disabled]
{
	background : #efefef;
}
.ImageViewer .imagetext[status=disabled]
{
	color : #999999;
}
.ImageViewer[status=disabled]
{
	background : #f2f2f2;
}
.Static[status=disabled]
{
	color : #999999;
}
.GroupBox .groupboxtitle[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.GroupBox .groupboxcontents[status=disabled]
{
	background : #efefef;
}
.StaticControl[status=disabled]
{
	color : #999999;
}
.TextArea[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.TextAreaControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.Tab .tabbuttonitemTab[status=disabled]
{
	color : #ababab;
	background : #e7e7e7;
}
.Form[status=disabled]
{
	color : #999999;
}
.Tab .tabbuttonitemTab .tabbuttonitemtext[status=disabled]
{
	color : #c8c8c8;
}
.GridCellControl .celltreeitem .treeitemtext[status=disabled]
{
	color : #999999;
}
.GridCellControl .cellmaskedit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.GridCellControl .celledit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.GridCellControl .cellbutton[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
.DatePickerControl .head[status=disabled]
{
	background : #94a9bf;
	color : #cdcdcd;
}
.DatePickerControl .head .yearstatic[status=disabled]
{
	color : #c7d4e2;
}
.Grid .body .row .cell .subcell[status=disabled]
{
	color : #999999;
}
.Grid .body .row .cell[status=disabled]
{
	color : #999999;
}
.DatePickerControl .head .monthstatic[status=disabled]
{
	color : #c7d4e2;
}
.FileUpload .fileuploaditem[status=disabled]
{
	color : #999999;
}
.Grid .head .row .cell[status=disabled]
{
	color : #999999;
}
.FileUpload .fileuploaditem .fileuploaditemedit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.Edit[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.ComboControl .dropbutton[status=disabled]
{
	opacity : 0.50;
}
.Combo .dropbutton[status=disabled]
{
	opacity : 0.50;
}
.ComboControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.Combo[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.CheckBoxControl[status=disabled]
{
	color : #999999;
}
.CheckBox[status=disabled]
{
	color : #999999;
}
.DatePickerControl .body[status=disabled]
{
	border : 1px solid #98a6b5;
}
.Button.btn_MF_next[status=disabled]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_next[status=disabled] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.DatePickerControl .body .weekband[status=disabled]
{
	background : #94a9bf;
}
.DatePickerControl .body .weekitem[status=disabled]
{
	color : #c7d4e2;
	background : #94a9bf;
}
.Button.btn_MF_prev[status=disabled]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_MF_prev[status=disabled] .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
.CalendarControl[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.Calendar[status=disabled]
{
	color : #999999;
	background : #efefef;
}
.FileUpload .fileuploaditem .fileuploaditembutton[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
.FileDownload[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
.Edit.edit_WF_edit01[status=disabled]
{
	background : #fdfdfd;
	color : #555555;
}
.Button[status=disabled]
{
	color : #bbbbbb;
	background : #f5f5f5;
	border : 1px solid #d9d9d9;
}
.VScrollBarControl .trackbar[status=disabled]
{
	background : #eeeeee;
	border : 1px solid #d8d8d8;
}
.HScrollBarControl .trackbar[status=disabled]
{
	background : #eeeeee;
	border : 1px solid #d8d8d8;
}
.DatePickerControl .body .dayitem[status=disabled]
{
	color : #cdcdcd;
}
.PopupMenuControl.popupMenumenupopupmenu.dummy .popupmenuitem .popupmenuitemhotkeytext[status=disabled]
{
	color : #4577b9;
}
.DatePickerControl .body .dayitem[status=disabled][userstatus=selected]
{
	background : #f0f0f0;
}
.DatePickerControl .body .dayitem[status=mouseover][userstatus=sunday]
{
	color : #ffffff;
}
.DatePickerControl .body .dayitem[status=mouseover][userstatus=saturday]
{
	color : #ffffff;
}
.CheckBox[status=disabled][userstatus=selected]
{
	color : #999999;
}
.CheckBoxControl[status=disabled][userstatus=selected]
{
	color : #999999;
}
.Grid .body .row .cell[status=disabled][userstatus=selected]
{
	background : #f0f0f0;
}
.Tab .tabbuttonitemTab[status=disabled][userstatus=selected]
{
	border : 1px solid #c7d4e2;
	background : #94a9bf;
}
.Tab .tabbuttonitemTab[status=focused][userstatus=selected]
{
	color : #ffffff;
	background : #ed6e11;
	border : 1px solid #ed6e11;
}
.DatePickerControl .body .dayitem[status=mouseover][userstatus=trailingday]
{
	color : #ffffff;
}
